#header .top-profile a, #main .panel-box .forgot a, #main .panel-box h3, #main .panel-box .check-tick a, #main .social-panel-box a,
#main .bottom-link a, #main .find-box .txt-orange, #main .find-box .txt-orange a, #main .search-result .result-item .txt .heading a,
#main .profile-box h4, #main .profile-box h4 a, #main .profile .social .netw-selected, #main .txt-tuts a, #main .txt-link a,
.add-to-netw span, .network-selection h3, .edit-modal .add-network h5, .edit-modal .add-network .link-show, .edit-modal .txt-network,
.edit-modal .txt-network a, .edit-modal .location-details .results h6, .edit-modal .location-details .results h6 a,
.ui-dialog .ui-dialog-titlebar .ui-dialog-title, .ui-dialog h2, #main .panel-box #user-register-default-url-h4, .link, #edit-networks-button a,
.add-del-to-connections a:hover, .quantity, .resend-activation-link, .pagination .prev a, .pagination .next a, .add-del-to-connections i,
.drop-here i, #main .profile .star-vip, .share-yellow a, .pagination a:hover, .pagination .active
{
    color: #000096;
}

#crop_circle
{
    border: 2px solid #000096;
    background: rgba(0, 0, 150, 0.2);
}

#header .btn,
#main .btn,
.ui-dialog .btn,
.resend-area .btn,
.edit-modal .browse-photo .btn,
.edit-modal .browse-photo .btn_browse
{
    background: #0000b6; /* Old browsers */
    background: -moz-linear-gradient(top,  #0000b6 1%, #000096 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#0000b6), color-stop(100%,#000096)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0000b6 1%,#000096 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0000b6 1%,#000096 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0000b6 1%,#000096 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0000b6 1%,#000096 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000b6', endColorstr='#000096',GradientType=0 ); /* IE6-9 */
}

#header .top-search .btn,
#main .address-box .btn-search,
#main .find-box .btn-search,
.network-selection .top-bar #search_ncc,
.network-selection .top-bar #search_netw,
.edit-modal .add-network .btn-search
{
    background: url("icons/icon-search-blue@2x.png") no-repeat 0px 0px;
}

section .header .logo
{
    background: url("logos/htf-logo-blue.png") no-repeat 0 0;
}

#main .panel-box .check-tick .jqTransformCheckbox
{
    background: url("controls/checkbox24x24-blue.jpg") no-repeat 0 0;
}

#main .panel-box .check-radio .jqTransformRadio
{
    background: url("controls/radio23x23-blue.jpg") no-repeat 0 0;
}

#main .search-result .star-vip,
#main .profile .star-vip
{
    background: url("icons/vip-blue.png") no-repeat 0 0;
}

#main .search-result .result-item .txt .share-yellow
{
    background: url("icons/share9x12-blue.png") no-repeat 0 center;
}

#main .edit-profile .btn-networks
{
    background: url("buttons/btn-networks214x50-blue.png") no-repeat 0 0;
}

#main .edit-profile .btn-about
{
    background: url("buttons/btn-about214x50-blue.png") no-repeat 0 0;
}

.set_loc + label
{
    background: url("controls/house19x22-blue.png") no-repeat 0 0;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon
{
    background: url("icons/icon-close-blue.png") no-repeat 0 0 !important;
}

footer .btn-play
{
    background: url("icons/play-audio-blue.png") repeat-x 0 0;
}

.profile-details div.check-tick.checked
{
    background: transparent url('icons/icon-tick-blue@2x.png') no-repeat left top;
}

#user-register-default-check-ok.checked
{
    background: url("icons/icon-tick-blue@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.animated-loading
{
    background: transparent url('controls/ajax-loader-blue.gif') no-repeat center center;
}