<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>howtofind.me</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>
    <!--<link type="text/css" rel="stylesheet" href="https://fast.fonts.com/cssapi/d5510326-4a30-4003-a753-14004ed2cc40.css"/>-->
    <link rel="stylesheet" media="all" href="../assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script src="../assets/js/user.js"></script>

    <script src="../assets/js/links.js"></script>
    <script src="../assets/js/cookies.js"></script>
    <script src="../assets/js/userSession.js"></script>
    <script src="../assets/js/userConnections.js"></script>
    <script src="../assets/js/userContacts.js"></script>

    <script src="../assets/js/jquery.selectbox-0.5.js"></script>
    <script>$(document).ready(function() {$('.selectbox').selectbox();});</script>

    <script>
        $(window).load(function() {
            $(".pag-top").each(function() {
                var count = $(".pag-top li").length;
                $(".pag-top ul").css({'width':20 * count + 'px'});
            });
            $(".pag-bottom").each(function() {
                var count = $(".pag-bottom li").length;
                $(".pag-bottom ul").css({'width':20 * count + 'px'});
            });
        });
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/html5.js"></script>
    <script src="../assets/js/ie.js"></script>
    <![endif]-->
</head>

<body>
<div id="loading-wrapper">
    <div class="inner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
<header id="header">

    <div class="fixer">

        <div class="top-profile">

            <div class="pic"><img id="user_pic" src="assets/img/backgrounds/06.png" alt=""/></div>
            <div class="txt">
                <p>Hello</p>
                <ul>
                    <li><h3 id="username_current"></h3></li>
                    <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                </ul>
            </div>
            <!-- /.txt -->

        </div>
        <!-- /.top-profile -->

        <div class="header-rhs">
            <div class="top-search">
                <form action="search" method="GET" class="search" id="search_form">
                    <input type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Find Someone';}"
                           onfocus="if(this.placeholder=='Find Someone'){this.placeholder='';}" placeholder="Find Someone"
                           title="Find Someone" id="find_someone" name="q"/>
                    <input title="" type="submit" class="btn" id="search_people" />
                </form>
            </div>
            <!-- /.top-search -->
            <ul class="access">
                <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                <li><a id="login_logout" href="" title=""></a></li>
            </ul>
        </div>
        <!-- /.header-rhs -->

    </div><!-- /.fixer -->

</header><!-- /#header -->


<section id="main">

    <div class="fixer">

        <div class="popup-cookie">
            <div class="popup-inner"></div>
        </div>

        <header class="header">
            <a href="#" title="" class="logo">howtofind.me</a>
        </header><!-- /.header -->

        <article class="find-someone">

            <aside class="panel-box find-box">

                <h3 id="user-header-info">Shared Connections </h3>

                <div class="top-bar">
                    <!--<div class="column col-name"><input type="text" class="fld" onblur="if(this.value==''){this.value='Name';}" onfocus="if(this.value=='Name'){this.value='';}" value="Name" title="Name" /></div>-->
                    <!--<div class="column col-city"><input type="text" class="fld" onblur="if(this.value==''){this.value='City';}" onfocus="if(this.value=='City'){this.value='';}" value="City" title="City" /></div>-->
                    <!--<div class="column col-country">-->
                        <!--<select class="selectbox">-->
                            <!--&lt;!&ndash; options with countries &ndash;&gt;-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<a href="" class="btn-search">go</a>-->
                    <form id="search-form-query" action="" method="">
                        <div class="column col-name"><input id="name_input" type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Name';}" onfocus="if(this.placeholder=='Name'){this.placeholder='';}" placeholder="Name" title="Name" /></div>
                        <div class="column col-location"><input id="city_input" type="text" class="fld" placeholder="Place" title="Place" /></div>
                        <div class="column col-network"><input id="network_input" type="text" class="fld" placeholder="Network" title="Network" /></div>
                        <!--<div class="column col-country">-->
                            <!--&lt;!&ndash;<input type="text" id="country_input" placeholder="Country" class="fld" style="background:#FFF !important; width: 144px;">&ndash;&gt;-->
                            <!--<select class="selectbox" class="fld">-->
                                <!--&lt;!&ndash; options with countries &ndash;&gt;-->
                            <!--</select>-->
                            <!--&lt;!&ndash;<input type="text" id="country_input" placeholder="Country" class="fld" style="background:#FFF !important; width: 144px;">&ndash;&gt;-->
                            <!--&lt;!&ndash;<select class="selectbox select_country">&ndash;&gt;-->
                            <!--&lt;!&ndash;</select>&ndash;&gt;-->
                        <!--</div>-->
                        <!--<input type="submit" id="search_ncc" class="btn-search hovered-button" />-->
                    </form>
                </div><!-- /.top-bar -->

                <div class="pagination pag-top">
                    <ul>
                        <li><a href="" class="prev">prev</a></li>
                        <li><a href="" class="active">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="next">next</a></li>
                    </ul>
                    <span class="quantity"></span>
                </div><!-- /.pagination -->

                <div id="time-spinner">
                    <img src="../assets/img/controls/ajax-loader.gif" />
                </div>

                <div class="search-result">
                    <div class="inner" id="inner_search_result">

                        <!-- friends -->

                    </div><!-- /.inner -->
                </div><!-- /.search-result -->

                <div class="pagination pag-bottom">
                    <ul>
                        <li><a href="" class="prev">prev</a></li>
                        <li><a href="" class="active">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="next">next</a></li>
                    </ul>
                    <span class="quantity"></span>
                </div><!-- /.pagination -->

                <div id="search-no-results" style="display:none;">
                    <h4 class="no-result">Sorry, we cant find anyone that matches that search</h4>

                    <p class="txt-orange"><a href="https://howtofindme.parseapp.com/invite-friends.htm" title="">Why not invite them to HowtoFind.me?</a></p>
                </div>

            </aside><!-- /.panel-box -->

        </article><!-- /.panel -->

    </div><!-- /.fixer -->

</section><!--/section -->

<footer>

    <a href="" class="btn-play"></a>

    <div class="fixer">

        <h6>Copyright &copy;2014 howtofind.me</h6>
        <ul>
            <li><a href="" title="">Sitemap</a></li>
            <li><a href="" title="">Privacy</a></li>
            <li><a href="" title="">Contact Us</a></li>
            <li><a href="" title="">Legal</a></li>
        </ul>

    </div><!-- /.fixer -->

</footer><!-- /footer -->


</body>

</html>
