<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Contact Us</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>
    <!--<link type="text/css" rel="stylesheet" href="https://fast.fonts.com/cssapi/d5510326-4a30-4003-a753-14004ed2cc40.css"/>-->
    <link rel="stylesheet" media="all" href="assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="../assets/js/underscore-min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script src="../assets/js/user.js"></script>
    <script src="../assets/js/cookies.js"></script>
    <script src="../assets/js/userSession.js"></script>
    <script src="../assets/js/contactus.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/html5.js"></script>
    <script src="../assets/js/ie.js"></script>
    <![endif]-->
</head>

<body>
<div id="loading-wrapper">
    <div class="inner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
<header id="header">

    <div class="fixer">

        <div class="top-profile">

            <div class="pic"><img id="user_pic" src="../assets/img/backgrounds/06.png" alt=""/></div>
            <div class="txt">
                <p>Hello</p>
                <ul>
                    <li><h3 id="username_current"></h3></li>
                    <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                </ul>
            </div>
            <!-- /.txt -->

        </div>
        <!-- /.top-profile -->

        <div class="header-rhs">
            <div class="top-search">
                <form action="search" method="GET" class="search" id="search_form">
                    <input type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Find Someone';}"
                           onfocus="if(this.placeholder=='Find Someone'){this.placeholder='';}" placeholder="Find Someone"
                           title="Find Someone" id="find_someone" name="q"/>
                    <input title="" type="submit" class="btn" id="search_people" />
                </form>
            </div>
            <!-- /.top-search -->
            <ul class="access">
                <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                <li><a id="login_logout" href="" title=""></a></li>
            </ul>
        </div>
        <!-- /.header-rhs -->

    </div><!-- /.fixer -->

</header><!-- /#header -->

<section id="main">

    <div class="fixer">

        <div class="popup-cookie">
            <div class="popup-inner"></div>
        </div>

        <header class="header">
            <a href="https://howtofindme.parseapp.com" title="" class="logo">howtofind.me</a>
        </header><!-- /.header -->

        <article>
            <div class="contact-us">

                <aside class="panel-box contact-box">
                    <h3>Contact Us</h3>
                    <form id="contact-us" name="contactusForm">
                        <div class="row">
                            <input type="email" class="fld" placeholder="Type your email" name="contactusEmail" tabindex="1" required />
                        </div>
                        <div class="row">
                            <input type="text" class="fld" placeholder="Type your name" name="contactusName" tabindex="2" required />
                        </div>
                        <div class="row">
                            <textarea cols="5" rows="5" class="fld" placeholder="Input your message" name="contactusMessage" tabindex="3" required></textarea>
                        </div>
                        <div class="row" id="REcaptcha">

                        </div>
                        <div class="animated-loading contactus"></div>
                        <div class="action-row">
                            <input type="submit" title="Send a message" value="Send message" class="btn" />
                        </div>
                    </form>
                    <div class='bottom-error'></div>
                </aside>

            </div>
        </article>

    </div><!-- /.fixer -->

</section><!--/section -->

<footer>

    <a href="" class="btn-play"></a>

    <div class="fixer">

        <h6>Copyright &copy;2014 howtofind.me</h6>
        <ul>
            <li><a href="" title="">Sitemap</a></li>
            <li><a href="" title="">Privacy</a></li>
            <li><a href="" title="">Contact Us</a></li>
            <li><a href="" title="">Legal</a></li>
        </ul>

    </div><!-- /.fixer -->

</footer><!-- /footer -->


</body>

</html>
