<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>howtofind.me</title>

        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>

        <link rel="stylesheet" media="all" href="../assets/css/style.css"/>
        <link rel="stylesheet" media="all" href="../assets/css/colorbox.css"/>

        <script src="https://code.jquery.com/jquery-1.7.js"></script>
        <script src="../assets/js/jquery.colorbox-min.js"></script>

        <link type="text/css" href="assets/css/custom-theme/jquery-ui-1.8.17.custom.css" rel="stylesheet"/>
        <script src="../assets/js/jquery-ui-1.8.17.custom.min.js"></script>

        <script src="../assets/js/underscore-min.js"></script>
        <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>

        <script src="../assets/js/user.js"></script>
        <script src="../assets/js/cookies.js"></script>
        <script src="assets/js/userNetworks.js"></script>
        <script src="../assets/js/userSession.js"></script>
        <script src="../assets/js/userEdit.js"></script>
        <script src="../assets/js/geolocation.js"></script>
        <script src="../assets/js/links.js"></script>

        <script src="../assets/js/jquery.selectbox-0.5.js"></script>

        <script>
            $(document).ready(function () {
                $('.selectbox').selectbox();
            });
        </script>

        <script src="../assets/js/jquery.jqtransform.js"></script>
        <script>
            $(function () {
                $('.profile-details li').jqTransform();
            });
            $(function () {
                //$('.results .column').jqTransform();
            });
        </script>

        <script type="text/javascript">
            $(function () {
                $('#slider').slider();
            });
        </script>

        <script type="text/javascript">
            $(document).ready(function () {
                if (/Android|webOS|iPhone|BlackBerry/i.test(navigator.userAgent)) {
                    $("#customise-profile").addClass("modal-active");
                    $("#customise-profile").css({'display': 'block'});
                    $("#location-details").addClass("modal-active");
                    $("#location-details").css({'display': 'block'});
                    $("#profile-image").addClass("modal-active");
                    $("#profile-image").css({'display': 'block'});
                    $("#personal-statement").addClass("modal-active");
                    $("#personal-statement").css({'display': 'block'});
                    $(".network-selection").addClass("modal-active");
                    $(".network-selection").css({'display': 'block'});

                    $(".saved-network-selection").addClass("modal-active");
                    $(".saved-network-selection").css({'display': 'block'});
                }
                else
                {
                    $(function () {
                        $('#personal-statement').dialog({autoOpen: false, modal: true, width: 407, resizable: false});
                        $('#personal-statement-link').click(function () {
                            $('#personal-statement').dialog('open');
                            return false;
                        });

                        $('#profile-image').dialog({autoOpen: false, modal: true, width: 407, resizable: false});
                        $('#profile-image-link').click(function () {
                            $('#profile-image').dialog('open');
                            return false;
                        });

                        $('#location-details').dialog({
                            autoOpen: false,
                            modal: true,
                            width: 480,
                            resizable: false,
                            open: function () {
                                googleGeoApiInit();
                            }
                        });
                        $('#location-details-link').click(function () {
                            $('#location-details').dialog('open');
                            return false;
                        });

                        $('#customise-profile').dialog({autoOpen: false, modal: true, width: 407, resizable: false});
                        $('#customise-profile-link').click(function () {
                            $('#customise-profile').dialog('open');
                            return false;
                        });

                        $('.network-selection').dialog({
                            autoOpen: false,
                            modal: true,
                            width: 407,
                            resizable: false
                        });

                        $('.network-selection-link').live('click', function () {
                            $('.network-selection').dialog('open');
                            return false;
                        });

                        $('.netw-empty-add').live('click', function () {
                            $('.network-selection').dialog('open');
                            return false;
                        });

                        if (window.getCookie("fromRegister") == "true")
                        {
                            window.unsetCookie("fromRegister");
                            $('.network-selection').dialog('open');
                        }


                        $('.saved-network-selection').dialog({
                            autoOpen: false,
                            modal: true,
                            width: 407,
                            resizable: false
                        });

                        $('.toSave').live('click', function () {
                            $('.saved-network-selection').dialog('open');
                            return false;
                        });
                    });
                }
            });


            $(document).ready(function () {
                if (/Android|webOS|iPhone|BlackBerry/i.test(navigator.userAgent)) {

                }
                else {
                    $(function () {

                    });
                }
            });
        </script>


        <!--[if lt IE 9]>
        <script src="../assets/js/html5.js"></script>
        <script src="../assets/js/ie.js"></script>
        <![endif]-->
    </head>

    <body>

        <div id="loading-wrapper">
            <div class="inner">
                <div class="spinner"></div>
                <p>Loading...</p>
            </div>
        </div>
        <div id="upload-box"><p>UPLOAD YOUR IMAGE HERE</p></div>

        <header id="header">

            <div class="fixer">

                <div class="top-profile">

                    <div class="pic"><img id="user_pic" src="../assets/img/backgrounds/no-result92x92.png" alt=""/></div>
                    <div class="txt">
                        <p>Hello</p>
                        <ul>
                            <li><h3 id="username_current"></h3></li>
                            <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                        </ul>
                    </div>
                    <!-- /.txt -->

                </div>
                <!-- /.top-profile -->

                <div class="header-rhs">
                    <div class="top-search">
                        <form action="search" method="GET" class="search" id="search_form">
                            <input type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Find Someone';}"
                                   onfocus="if(this.placeholder=='Find Someone'){this.placeholder='';}"
                                   placeholder="Find Someone"
                                   title="Find Someone" id="find_someone" name="q"/>
                            <input title="" type="submit" class="btn" id="search_people" />
                        </form>
                    </div>
                    <!-- /.top-search -->
                    <ul class="access">
                        <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                        <li><a id="login_logout" href="" title=""></a></li>
                    </ul>
                </div>
                <!-- /.header-rhs -->

            </div>
            <!-- /.fixer -->

        </header>
        <!-- /#header -->

        <section id="main">

            <div class="fixer">

                <div class="popup-cookie">
                    <div class="popup-inner"></div>
                </div>

                <header class="header">
                    <a href="https://howtofindme.parseapp.com" title="" class="logo">howtofind.me</a>
                </header>
                <!-- /.header -->

                <article class="panel">

                    <label>
                        <div class="drag-photo">
                            <div class="profile-img">
                                <img id="user_photo" class="user_photo" src="../assets/img/backgrounds/drag-photo.png" alt="">
                            </div>
                            <span>
                                <input id="select-file" type="file" style="visibility:hidden;" accept="image/jpeg" name="file[]"/>
                            </span>
                        </div>
                    </label>

                    <div class="edit-profile profile">

                        <aside class="panel-box edit-box">

                            <div class="action-top">
                                <a href="#" title="" class="btn-networks btn-about-active" id="netw_selection">Networks</a>
                                <a href="#" title="" class="btn-about" id="about_selection">About Me</a>
                            </div>
                            <!-- /.action-top -->

                            <h3 id="username_edit"></h3>

                            <div class="user-acc hided-elem">
                                <div class="profile-details">
                                    <ul>
                                        <li>
                                            <p><a href="#" id="personal-statement-link">My Intro</a></p>
                                            <div id="user-register-default-check-intro-ok" class="check-tick empty"></div>
                                        </li>
                                        <li>
                                            <p><a href="#" id="profile-image-link">My Photo</a></p>
                                            <div id="user-register-default-check-image-ok" class="check-tick empty"></div>
                                        </li>
                                        <li>
                                            <p><a href="#" id="location-details-link">My Location</a></p>
                                            <div id="user-register-default-check-location-ok" class="check-tick empty"></div>
                                        </li>
                                        <li>
                                            <p><a href="#" id="customise-profile-link">My Color</a></p>
                                            <div id="user-register-default-check-color-ok" class="check-tick empty"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="user-netw">
                                <div class="add-netw">
                                    <h4>Add a Network</h4>

                                    <div>
                                        <a class="network-selection-link selected-netw"></a>
                                    </div>
                                    <div class="netw-link" style="display: none;"></div>

                                </div>
                                <!--<div class="added-netw">-->
                                    <!--<h4>My Networks</h4>-->

                                    <!--<div class="sel-netw">-->
                                        <!--<div class="netw-empty"></div>-->
                                        <!--<div class="netw-empty"></div>-->
                                        <!--<div class="netw-empty"></div>-->
                                        <!--<div class="netw-empty"></div>-->
                                        <!--<div class="netw-empty"></div>-->
                                    <!--</div>-->
                                <!--</div>-->

                                <div class="pref-netw" style="display:none;">
                                    <h4>Preferred Networks</h4>

                                    <div id="droppable" class="drag-netw"></div>
                                    <span class="drop-here"><i class="fa fa-long-arrow-up"></i> DRAG & DROP</span>
                                </div>

                                <div class="selected-networks" style="display:none;">
                                    <h4>My Networks</h4>

                                    <div class="all-selected">
                                        <div class="netw-empty-add"></div>
                                    </div>
                                </div>

                                <div class="network-selection network find-box" style="display:none; width:284px; margin:10px auto;">
                                    <h2>Add a Network</h2>

                                    <div class="top-bar">
                                        <div class="column col-name">
                                            <form>
                                                <input
                                                        id="netw-search"
                                                        type="text"
                                                        class="fld"
                                                        onblur="if(this.placeholder==''){this.placeholder='Search for a Network';}"
                                                        onfocus="if(this.placeholder=='Search for a Network'){this.placeholder='';}"
                                                        placeholder="Search for a Network"
                                                        title="Search for a Network" />

                                                <input type="submit" name="search-submit" id="search_netw" class="btn-search" value="go"  />
                                            </form>
                                        </div>

                                    </div>
                                    <div class="search-results" style="display:none;height:30px;">
                                        <a class="show-search"><h3>Search Results</h3></a>
                                        <a class="show-all-netw"><h3 class="show-all-netw">Show all</h3></a>
                                    </div>
                                    <div class="select-body social">
                                        <div class="all-netw">

                                        </div>
                                    </div>
                                    <div class="suggest">
                                        <h3>Suggest a network</h3>
                                    </div>

                                </div>

                                <!-- edit saved networks -->
                                <div class="saved-network-selection network find-box" style="display:none; width:284px; margin:10px auto;">
                                    <h2>Edit your networks</h2>

                                    <div class="top-bar">
                                        <div class="column col-name">
                                            <form>
                                                <input
                                                        id="netw-search"
                                                        type="text"
                                                        class="fld"
                                                        onblur="if(this.placeholder==''){this.placeholder='Search for a Network';}"
                                                        onfocus="if(this.placeholder=='Search for a Network'){this.placeholder='';}"
                                                        placeholder="Search for a Network"
                                                        title="Search for a Network" />

                                                <input type="submit" name="search-submit" id="search_netw" class="btn-search" value="go"  />
                                            </form>
                                        </div>

                                    </div>
                                    <div class="search-results" style="display:none;height:30px;">
                                        <a class="show-search"><h3>Search Results</h3></a>
                                        <a class="show-all-netw"><h3 class="show-all-netw">Show all</h3></a>
                                    </div>
                                    <div class="select-body social">
                                        <div class="all-netw">

                                        </div>
                                    </div>
                                    <div class="suggest">
                                        <h3>Suggest a network</h3>
                                    </div>

                                </div>


                                <!-- /.profile-details -->

                                <div id="edit-networks-button">
                                    <div id="edit-networks-button-inner-container">
                                        <a id="action-edit-networks-button" href="#" title="Wonna edit?">EDIT MODE</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.profile-details -->

                            <div class='bottom-error'></div>

                        </aside>
                        <!-- /.panel-box -->

                        <p class="txt-tuts help-video">Need a little help? Check out our <a class="youtube" href="https://www.youtube.com/embed/A3PDXmYoF5U" title="">short video!</a></p>
                        <div id="finish-div" class="action-bottom hided-elem"><a id="finished-editing" href="#" title="" class="btn">FINISHED</a></div>
                        <div id="save-div" class="action-bottom"><a id="action-save-networks" href="#" title="" class="btn">NEXT</a></div>

                    </div>
                    <!-- /.edit-profile -->

                </article>
                <!-- /.panel -->


                <!-- ui-dialog -->
                <div id="personal-statement" class="edit-modal" title="">
                    <h2>My Intro</h2>

                    <div class="personal-statement">

                        <textarea cols="5" rows="5" class="fld" id="my_intro" placeholder="Welcome to my HowtoFind.me page. Below is where I live on the web."></textarea>

                        <div class="action-row">
                            <p id="letters-counter">134</p>
                            <!--<a href="#" title="" class="btn save" id="intro">Save</a>-->
                            <div id="intro-loading" class="animated-loading"></div>
                            <a href="#" title="Clear field" id="clear-intro" class="clear-intro">Clear field</a>
                        </div>

                    </div>
                    <!-- /.personal-statement -->

                </div>
                <!-- /.edit-modal -->

                <!-- ui-dialog -->
                <div id="profile-image" class="edit-modal" title="" style="display:block !important">

                    <h2>Upload a Photo</h2>

                    <script type="text/javascript">
                        $('input#fileopen').change(function (e) {
                            var _self = $(this), path = _self.val();
                            if (path.indexOf('\\')) {
                                path = path.split('\\');
                            } else {
                                path = path.split('/');
                            }
                            var size = path.length;
                            var filename = path[(size - 1)];
                            $('#fileupload .mask').html(filename).addClass('newfile').removeClass('default');
                            $("#upload").removeAttr("disabled").removeClass("disabled-button").addClass("hovered-button");
                            $("#save_resized").removeAttr("disabled").removeClass("disabled-button");
                        });
                    </script>

                    <div class="browse-photo" id="fileupload">
                        <div class="fld"><span class="mask default" data-default="Browse" style="padding-left:100px;">Browse</span></div>
                        <div class="btn_browse"><label>Browse</label><input type="file" name="fileopen" class="btn_browse" id="fileopen" value="Browse"></div>
                        <input type="button" class="btn disabled-button" id="upload" value="Upload" disabled />
                    </div>

                    <div class="upload-photo">
                        <div class="photo" id="photo" style="position:relative;">
                            <img id="usr_pic_crop" src="../assets/img/backgrounds/06.png" alt="">

                            <div id="crop_circle" style=""></div>
                            </img>
                        </div>

                        <div class="zoom">
                            <span class="zoom-small"></span>
                            <span class="zoom-large"></span>

                            <div id="slider"></div>
                        </div>

                        <div class="action-row">
                            <input type="button" class="btn save disabled-button" id="save_resized" value="Save" disabled />
                        </div>

                    </div>
                    <!-- /.upload-photo -->

                </div>
                <!-- /.edit-modal -->


                <!-- ui-dialog -->
                <div id="location-details" class="edit-modal" title="">
                    <h2>My Location</h2>

                    <div class="location-details">

                        <div class="row">
                            <form id="add-location-form">
                                <div class="col-lhs">
                                    <input name="locality" id="location_input" type="text" placeholder="Enter Location" class="fld">
                                </div>
                                <a href="" title="" id="add_location" class="btn-add">add</a>
                            </form>
                        </div>

                        <div class="results">
                            <h6><a href="" title="" id="add_current_location">Current Location</a></h6>
                            <ul id="selected_locations"></ul>
                        </div>

                        <div class="action-row">
                            <a href="#" title="" id="save_location" class="btn save">Save</a>
                            <!--<a href="" title="" class="btn btn-grey">Cancel</a>-->
                        </div>

                    </div>
                    <!-- /.location-details -->

                </div>
                <!-- /.edit-modal -->


                <!-- ui-dialog -->
                <div id="customise-profile" class="edit-modal" title="">
                    <h2>My Color</h2>

                    <div class="customize-profile">


                        <div class="action-row">
                            <div class="animated-loading colors"></div>
                            <a href="" title="" class="btn save">Save</a>
                        </div>

                    </div>
                    <!-- /.customize-profile -->

                </div>
                <!-- /.edit-modal -->

            </div>
            <!-- /.fixer -->

        </section>
        <!--/section -->

        <footer>

            <a href="" class="btn-play"></a>

            <div class="fixer">

                <h6>Copyright &copy;2014 howtofind.me</h6>
                <ul>
                    <li><a href="" title="">Sitemap</a></li>
                    <li><a href="" title="">Privacy</a></li>
                    <li><a href="" title="">Contact Us</a></li>
                    <li><a href="" title="">Legal</a></li>
                </ul>

            </div>
            <!-- /.fixer -->

        </footer>
        <!-- /footer -->


    </body>

</html>
