<!DOCTYPE html>
<html lang="en">

<head>
    <title>EDIT</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>

    <link rel="stylesheet" media="all" href="../assets/css/a.css" />

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script src="../assets/js/user.js"></script>
</head>

<body>



</body>

</html>