<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>User Search</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>

    <link rel="stylesheet" media="all" href="../assets/css/style.css" />
    <link rel="stylesheet" media="all" href="../assets/css/humanity/jquery-ui-1.10.4.custom.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <!--<script src="../assets/js/jquery-ui-1.8.17.custom.min.js"></script>-->
    <script src="../assets/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="assets/js/jquery.twbsPagination.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>

    <script src="../assets/js/user.js"></script>
    <script src="../assets/js/search.js"></script>
    <script src="../assets/js/cookies.js"></script>
    <script src="../assets/js/userSession.js"></script>
    <script src="../assets/js/geolocation.js"></script>
    <script src="../assets/js/links.js"></script>

    <script src="../assets/js/jquery.selectbox-0.5.js"></script>
    <script>$(document).ready(function() {$('.selectbox').selectbox();});</script>

    <script>
        $(document).ready(function() {

        });

        $(document).ready(function() {
//            var searchValuesFromGet = window.location.search.substr(1).split('?')[0].split('=')[1];
//            if (searchValuesFromGet == undefined)
//            {
//                $("#search-no-results").css("display", "block");
//                $(".pagination").css("display", "none");
//                $(".search-result").css("display", "none");
//                $("#search_not_logged_in").css("display", "block");
//            }
        });
    </script>

    <!--[if lt IE 9]>
    <script src="../assets/js/html5.js"></script>
    <script src="../assets/js/ie.js"></script>
    <![endif]-->
</head>

<body>
<div id="loading-wrapper">
    <div class="inner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
<header id="header">

    <div class="fixer">

        <div class="top-profile">

            <div class="pic"><img id="user_pic" src="../assets/img/backgrounds/06.png" alt=""/></div>
            <div class="txt">
                <p>Hello</p>
                <ul>
                    <li><h3 id="username_current"></h3></li>
                    <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                </ul>
            </div>
            <!-- /.txt -->

        </div>
        <!-- /.top-profile -->

        <div class="header-rhs">
            <div class="top-search">
                <form action="search" method="GET" class="search" id="search_form">
                    <input type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Find Someone';}"
                           onfocus="if(this.placeholder=='Find Someone'){this.placeholder='';}" placeholder="Find Someone"
                           title="Find Someone" id="find_someone" name="q"/>
                    <input title="" type="submit" class="btn" id="search_people" />
                </form>
            </div>
            <!-- /.top-search -->
            <ul class="access">
                <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                <li><a id="login_logout" href="" title=""></a></li>
            </ul>
        </div>
        <!-- /.header-rhs -->

    </div><!-- /.fixer -->

</header><!-- /#header -->

<section id="main">

    <div class="fixer">

        <div class="popup-cookie">
            <div class="popup-inner"></div>
        </div>

        <header class="header">
            <a href="https://howtofindme.parseapp.com" title="" class="logo">howtofind.me</a>
        </header><!-- /.header -->

        <article class="find-someone">

            <a href="" title="" class="btn btn-join" id="search_not_logged_in" style="display:none;">Join Now</a>

            <aside class="panel-box find-box">

                <h3>Find Someone</h3>

                <div class="top-bar">
                    <form id="search-form-query" action="" method="">
                        <div class="column col-name">
                            <input id="name_input" type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Name';}" onfocus="if(this.placeholder=='Name'){this.placeholder='';}" placeholder="Name" title="Name" />
                            <div class="input-clear-button name_input"></div>
                        </div>
                        <div class="column col-city">
                            <input id="location_input" type="text" class="fld" placeholder="Enter Location" title="Location" />
                            <div class="input-clear-button location_input"></div>
                        </div>
                        <!--<div class="column col-country">-->
                            <!--<input type="text" id="country_input" placeholder="Country" class="fld" style="background:#FFF !important; width: 144px;">-->
                            <!--<div class="input-clear-button country_input"></div>-->
                        <!--</div>-->
                        <input type="submit" id="search_ncc" class="btn-search hovered-button" />
                    </form>
                </div><!-- /.top-bar -->

                <!--<div class="pagination pag-top">-->
                    <!--<ul>-->
                        <!--<li><a href="" class="prev">prev</a></li>-->
                        <!--<li><a href="" class="active">1</a></li>-->
                        <!--<li><a href="">2</a></li>-->
                        <!--<li><a href="">3</a></li>-->
                        <!--<li><a href="">4</a></li>-->
                        <!--<li><a href="">5</a></li>-->
                        <!--<li><a href="" class="next">next</a></li>-->
                    <!--</ul>-->
                    <!--<span class="quantity">People</span>-->
                <!--</div>&lt;!&ndash; /.pagination &ndash;&gt;-->

                <span class="quantity"></span>

                <div class="animated-loading search"></div>

                <div class="search-result">
                    <div class="inner" id="inner_search_result"></div>
                </div>


                <div class="pagi">
                    <ul id="pagination-pager"class="pagination-sm"></ul>
                </div>


                <div id="search-no-results" style="display:none;">
                    <h4 class="no-result">Sorry, we cant find anyone that matches that search</h4>
                    <p class="txt-orange"><a href="https://howtofindme.parseapp.com/invite-friends.htm" title="">Why not invite them to HowtoFind.me?</a></p>
                </div>


            </aside><!-- /.panel-box -->

        </article><!-- /.panel -->

    </div><!-- /.fixer -->

</section><!--/section -->

<footer>

    <a href="" class="btn-play"></a>

    <div class="fixer">

        <h6>Copyright &copy;2014 howtofind.me</h6>
        <ul>
            <li><a href="" title="">Sitemap</a></li>
            <li><a href="" title="">Privacy</a></li>
            <li><a href="" title="">Contact Us</a></li>
            <li><a href="" title="">Legal</a></li>
        </ul>

    </div><!-- /.fixer -->

</footer><!-- /footer -->

</body>

</html>
