<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Welcome to HowToFind.Me</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>
    <!--<link type="text/css" rel="stylesheet" href="https://fast.fonts.com/cssapi/d5510326-4a30-4003-a753-14004ed2cc40.css"/>-->
    <link rel="stylesheet" media="all" href="../assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script src="../assets/js/user.js"></script>
    <script src="../assets/js/cookies.js"></script>
    <script src="../assets/js/userSession.js"></script>

    <script src="../assets/js/links.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/html5.js"></script>
    <script src="../assets/js/ie.js"></script>
    <![endif]-->
</head>

<body>
<div id="loading-wrapper">
    <div class="inner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
<header id="header">

    <div class="fixer">

        <div class="top-profile">

            <div class="pic"><img id="user_pic" src="../assets/img/backgrounds/06.png" alt=""/></div>
            <div class="txt">
                <p>Hello</p>
                <ul>
                    <li><h3 id="username_current"></h3></li>
                    <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                </ul>
            </div>
            <!-- /.txt -->

        </div>
        <!-- /.top-profile -->

        <div class="header-rhs">
            <div class="top-search">
                <form action="search" method="GET" class="search" id="search_form">
                    <input type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Find Someone';}"
                           onfocus="if(this.placeholder=='Find Someone'){this.placeholder='';}" placeholder="Find Someone"
                           title="Find Someone" id="find_someone" name="q"/>
                    <input title="" type="submit" class="btn" id="search_people" />
                </form>
            </div>
            <!-- /.top-search -->
            <ul class="access">
                <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                <li><a id="login_logout" href="" title=""></a></li>
            </ul>
        </div>
        <!-- /.header-rhs -->

    </div><!-- /.fixer -->

</header><!-- /#header -->

<section id="main">

    <div class="fixer">

        <div class="popup-cookie">
            <div class="popup-inner"></div>
        </div>

        <header class="header">
            <a href="https://howtofindme.parseapp.com" title="" class="logo">howtofind.me</a>
        </header><!-- /.header -->

        <article class="panel">

            <aside class="panel-box activate-box">

                <h3>Welcome!</h3>
                <p>Thanks for joining HowToFind.me. We just sent you an email to confirm your account. To make your profile live, simply click the link.</p>
                <form action="#">
                    <div class="action-row"><a id="user-register-step2" href="" title="" class="btn">NEXT STEP</a></div>
                </form>

            </aside><!-- /.panel-box -->

        </article><!-- /.panel -->

    </div><!-- /.fixer -->

</section><!--/section -->

<footer>

    <a href="" class="btn-play"></a>

    <div class="fixer">

        <h6>Copyright &copy;2014 howtofind.me</h6>
        <ul>
            <li><a href="" title="">Sitemap</a></li>
            <li><a href="" title="">Privacy</a></li>
            <li><a href="" title="">Contact Us</a></li>
            <li><a href="" title="">Legal</a></li>
        </ul>

    </div><!-- /.fixer -->

</footer><!-- /footer -->

</body>

</html>
