<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>New user registration - step 3 - User Networks</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>
    <!--<link type="text/css" rel="stylesheet" href="https://fast.fonts.com/cssapi/d5510326-4a30-4003-a753-14004ed2cc40.css"/>-->
    <link rel="stylesheet" media="all" href="../assets/css/style.css" />
    <link type="text/css" href="../assets/css/custom-theme/jquery-ui-1.8.17.custom.css" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-1.7.js"></script>

    <script src="../assets/js/underscore-min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script src="../assets/js/user.js"></script>
    <script src="../assets/js/cookies.js"></script>
    <script src="../assets/js/userSession.js"></script>
    <script src="../assets/js/userRegister.js"></script>

    <script src="../assets/js/links.js"></script>

    <script src="../assets/js/jquery.jqtransform.js"></script>
    <script src="../assets/js/jquery-ui-1.8.17.custom.min.js"></script>
    <script>
        $(function(){$('.check-tick').jqTransform();});
        $(function(){$('.check-radio').jqTransform();});
    </script>
    <script>
        $(document).ready(function () {
            if (/Android|webOS|iPhone|BlackBerry/i.test(navigator.userAgent)) {
                $("#terms-and-conditions").addClass("modal-active");
                $("#terms-and-conditions").css({'display': 'block'});
            }
            else
            {
                $(function () {
                    $('#terms-and-conditions').dialog({autoOpen: false, modal: true, width: 807, resizable: false});
                    $('#user-register-terms').click(function () {
                        $('#terms-and-conditions').dialog('open');
                        return false;
                    });
                });
            }
        });
    </script>
    <!--[if lt IE 9]>
    <script src="../assets/js/html5.js"></script>
    <script src="../assets/js/ie.js"></script>
    <![endif]-->
</head>

<body>
<div id="loading-wrapper">
    <div class="inner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>
<header id="header">

    <div class="fixer">

        <div class="top-profile">

            <div class="pic"><img id="user_pic" src="../assets/img/backgrounds/06.png" alt=""/></div>
            <div class="txt">
                <p>Hello</p>
                <ul>
                    <li><h3 id="username_current"></h3></li>
                    <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                </ul>
            </div>
            <!-- /.txt -->

        </div>
        <!-- /.top-profile -->

        <div class="header-rhs">
            <div class="top-search">
                <form action="search" method="GET" class="search" id="search_form">
                    <input type="text" class="fld" onblur="if(this.placeholder==''){this.placeholder='Find Someone';}"
                           onfocus="if(this.placeholder=='Find Someone'){this.placeholder='';}" placeholder="Find Someone"
                           title="Find Someone" id="find_someone" name="q"/>
                    <input title="" type="submit" class="btn" id="search_people" />
                </form>
            </div>
            <!-- /.top-search -->
            <ul class="access">
                <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                <li><a id="login_logout" href="" title=""></a></li>
            </ul>
        </div>
        <!-- /.header-rhs -->

    </div><!-- /.fixer -->

</header><!-- /#header -->

<section id="main">

    <div class="fixer">

        <div class="popup-cookie">
            <div class="popup-inner"></div>
        </div>

        <header class="header">
            <a href="https://howtofindme.parseapp.com" title="" class="logo">howtofind.me</a>
        </header><!-- /.header -->

        <article class="panel">

            <aside class="panel-box available-box">

                <form name="userRegisterDefaultUrlForm" id="userRegisterDefaultUrlForm" class="userRegisterDefaultUrlForm" action="#">
                    <h3 id="user-register-default-url-h3">Your name’s available</h3>

                    <div id="user-register-default-url-appended-variants-h3"><h4>Maybe you would like to consider one ot these names or try another</h4></div>
                    <div id="user-register-default" class="row check-radio">
                        <input type="radio" class="user-register-default-url-first-substitution radioUrlOnchange" id="regRadio1" name="regRadio"/><label for="regRadio1" id="regRadio1Label">1</label>
                        <input type="radio" class="user-register-default-url-second-substitution radioUrlOnchange" id="regRadio2" name="regRadio"/><label for="regRadio2" id="regRadio2Label">2</label>
                        <input type="radio" class="user-register-default-url-third-substitution radioUrlOnchange" id="regRadio3" name="regRadio"/><label for="regRadio3" id="regRadio3Label">3</label>
                    </div>

                    <div id="user-register-default-OR-text"><p>OR</p></div>

                    <div id="user-register-default-url-container">
                        <div id="user-register-default-url-inner-container">
                            <div id="user-register-default-url-inner-common-container">
                                <div id="user-register-default-url-common">
                                    <div id="user-register-default-url-common-inner">
                                        <h4 id="user-register-default-url-h4">howtofind.me/</h4><input id="user-register-default-url" type="text" name="defaulturl" value="" class="fld-for-url" />
                                    </div>
                                    <!--<h4><a id="user-register-default-url" href="https://howtofindme.parseapp.com/edit-profile___________________.htm" title=""></a></h4>-->
                                </div>
                                <div id="user-register-default-check-ok" class="unchecked"></div>
                            </div>

                        </div>
                    </div>

                    <div class="row check-tick">
                        <input type="checkbox" name="chboxa" value="" /><label>I agree to the <a id="user-register-terms" href="#" title="">terms & conditions</a></label>
                    </div>
                    <!--<div class="action-row"><a href="" title="" class="btn-grey">Choose another name</a></div>-->
                    <div class="action-row">
                        <a id="user-register-default-utl-step3" href="" title="" class="btn">ACTIVATE</a>
                        <div class="animated-loading sign-up"></div>
                    </div>
                    <div class="bottom-error"><p></p></div>
                </form>

            </aside><!-- /.panel-box -->

        </article><!-- /.panel -->

    </div><!-- /.fixer -->

    <div id="terms-and-conditions" class="edit-modal" title="">


            <h2>Terms and Conditions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel semper nisl. Aenean placerat sem posuere purus vulputate luctus. Phasellus et neque non purus tempor mollis ac nec velit. Praesent tincidunt imperdiet turpis, sed malesuada felis suscipit ullamcorper. Nunc vitae sem nisl. Praesent vitae nisl nec velit accumsan condimentum. In urna arcu, adipiscing vel accumsan non, dignissim at urna. In quis dui a leo convallis suscipit. Duis nec augue nulla, vitae iaculis risus. Integer purus diam, adipiscing posuere mattis sagittis, tristique sed nunc. Donec odio sem, condimentum vitae porttitor at.</p>
            <p>Vivamus in risus et nisl porta porttitor. Aenean rutrum rutrum tellus vestibulum venenatis. Pellentesque sed nibh est, ut tincidunt erat. Aliquam ut orci nec risus feugiat pellentesque. Sed at tristique enim. Fusce nisl lectus, iaculis at tincidunt id, blandit vitae quam. Sed non nisi venenatis mauris posuere ultricies at vel dui. Nullam nunc augue, ornare quis iaculis a, eleifend nec elit. Nunc non nulla sit amet tellus hendrerit malesuada pellentesque ut odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tristique nibh est.</p>
            <h2>Everyone loves terms</h2>
            <p>Quisque lacinia, dolor faucibus vestibulum dignissim, nisl lacus luctus nisi, in convallis quam leo ut purus. Donec mollis neque et tellus lobortis quis vestibulum massa dignissim. Etiam aliquet venenatis posuere. Morbi pulvinar imperdiet risus, et porta turpis consectetur pulvinar. Morbi id dapibus justo. Vestibulum et tortor consequat dui tempus tristique vitae quis sapien. Vestibulum vestibulum, ligula in dapibus tristique, purus urna ultricies massa, non convallis nulla arcu vitae augue. Sed quis leo a arcu lobortis venenatis sit amet pulvinar diam. Donec at tortor ipsum, vestibulum lacinia orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sollicitudin nisl sed libero adipiscing consequat. Mauris non lacus est. Morbi porttitor, nunc ac aliquam blandit, lectus ante viverra dolor, eget venenatis tellus tellus vitae nisl.</p>
            <h2>Here is some more</h2>
            <p>Sed venenatis diam a enim eleifend eget vestibulum lacus tristique. Proin id velit nec tortor rhoncus cursus eget ut erat. Suspendisse potenti. Ut porttitor mattis justo at mollis. Donec vel neque eros. Aenean at orci ante, vitae venenatis risus. Integer leo ipsum, cursus sed adipiscing sit amet, semper sit amet mi. Quisque fringilla volutpat imperdiet. </p>


    </div>

</section><!--/section -->

<footer>

    <a href="" class="btn-play"></a>

    <div class="fixer">

        <h6>Copyright &copy;2014 howtofind.me</h6>
        <ul>
            <li><a href="" title="">Sitemap</a></li>
            <li><a href="" title="">Privacy</a></li>
            <li><a href="" title="">Contact Us</a></li>
            <li><a href="" title="">Legal</a></li>
        </ul>

    </div><!-- /.fixer -->

</footer><!-- /footer -->

</body>

</html>
