<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title><%= message %> on HowToFindMe</title>

    <meta https-equiv="cache-control" content="max-age=0">
    <meta https-equiv="cache-control" content="no-cache">
    <meta https-equiv="expires" content="-1">
    <meta https-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT">
    <meta https-equiv="pragma" content="no-cache">

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=0.0, maximum-scale=2.0, user-scalable=1"/>
    <link rel="stylesheet" media="all" href="../assets/css/style.css" />
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="assets/js/underscore-min.js"></script>
    <script src="https://www.parsecdn.com/js/parse-1.3.1.min.js"></script>
    <script src="../assets/js/user.js"></script>
    <script src="../assets/js/links.js"></script>
    <script src="../assets/js/cookies.js"></script>
    <script src="../assets/js/userSession.js"></script>
    <script src="../assets/js/initUser.js"></script>

    <!--[if lt IE 9]>
    <script src="../assets/js/html5.js"></script>
    <script src="../assets/js/ie.js"></script>
    <![endif]-->
</head>

<body>

<div id="loading-wrapper">
    <div class="inner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>

<header id="header">

    <div class="fixer">

        <div class="top-profile">

            <div class="pic"><img id="user_pic" src="../assets/img/backgrounds/06.png" alt=""/></div>
            <div class="txt">
                <p>Hello</p>
                <ul>
                    <li><h3 id="username_current"></h3></li>
                    <li><h3><a id="edit_profile" href="https://howtofindme.parseapp.com/edit" title=""></a></h3></li>
                </ul>
            </div>
            <!-- /.txt -->

        </div>
        <!-- /.top-profile -->

        <div class="header-rhs">
            <div class="top-search">
                <form action="https://howtofindme.parseapp.com/search" method="GET" class="search" id="search_form">
                    <input type="text" class="fld" placeholder="Find Someone" title="Find Someone" id="find_someone" name="q"/>
                    <input title="" type="submit" class="btn" id="search_people" />
                </form>
            </div>
            <!-- /.top-search -->
            <ul class="access">
                <li><a id="invite_people" href="https://howtofindme.parseapp.com/invite-friends.htm" title=""></a></li>
                <li><a id="login_logout" href="" title=""></a></li>
            </ul>
        </div>
        <!-- /.header-rhs -->

    </div><!-- /.fixer -->

</header><!-- /#header -->

<section id="main">

    <div class="fixer">

        <div class="popup-cookie">
            <div class="popup-inner"></div>
        </div>

        <header class="header">
            <a href="https://howtofindme.parseapp.com" title="" class="logo">howtofind.me</a>
        </header><!-- /.header -->

        <article class="profile">

            <figure class="cloud"><img id="other_user_photo" class="user_photo" src="assets/img/backgrounds/no-result92x92.png" alt="" /></figure>

            <div class="add-del-to-connections"><a href="#" title=""></a></div>

            <aside class="panel-box profile-box" itemscope itemtype="http://data-vocabulary.org/Person">

                <h3 id="other_username_edit" itemprop="name"></h3>

                <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                    <h4 id="other_main_loc"></h4>
                </span>

                <p id="other_all_loc"></p>
                <h2 id="other_intro_add" itemprop="role"></h2>

                <div class="social favo">
                    <h4>Favourite Networks</h4>
                    <div class="social-favo-inner">
                        <ul id="other_favonetworks"></ul>
                    </div>
                </div>

                <div class="social network">
                    <h4>Networks</h4>
                    <div class="social-networks-inner">
                        <ul id="other_networks"></ul>
                    </div>
                </div>

                <div class="findme"></div>
                <div class="bottom-error"></div>



            </aside><!-- /.panel-box -->

        </article><!-- /.panel -->

    </div><!-- /.fixer -->

</section><!--/section -->

<footer>

    <a href="" class="btn-play"></a>

    <div class="fixer">

        <h6>Copyright &copy;2014 howtofind.me</h6>
        <ul>
            <li><a href="" title="">Sitemap</a></li>
            <li><a href="" title="">Privacy</a></li>
            <li><a href="" title="">Contact Us</a></li>
            <li><a href="" title="">Legal</a></li>
        </ul>

    </div><!-- /.fixer -->

</footer><!-- /footer -->

</body>

</html>