body
{
    padding: 0;
    margin: 0;
}

td, th
{
    text-align: center;
}

a:hover
{
    text-decoration: none;
}

#main-table
{
    width: 100%;
    float: left;
}

#header-cont
{
    width: 100%;
    float: left;
    background-color: #d5d5d5;
}

#top-buttons
{
    float: left;
    margin: 10px 0px 10px 0px;
}

#top-buttons a
{
    border-left: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    padding: 0px 10px 0px 10px;
    color: #008000;
}

#table-header
{
    border-bottom: 1px solid #d5d5d5;
    border-top: 1px solid #d5d5d5;
}

#exit-cont
{
    float: right;
    margin-right: 15px;
}

#exit
{
    color: rgba(203, 1, 1, 0.61);
}

#header-text
{
    text-transform: capitalize;
    float: left;
    margin-left: 15px;
}

#hidden-network-id
{
    display: none;
}

.cell
{
    width: 100%;
    height: 25px;
    /*border-bottom: 1px solid #d5d5d5;*/
    /*border-top: 1px solid #d5d5d5;*/
}

.cell p
{
    float: left;
}

.new_time
{
    color: #d5d5d5;
}

.http-prev
{
    margin-top: 10px;
}

.http-prev > p
{
    float: left;
    height: 25px;
    margin-top: 6px;
    width: 39px;
}

.new_url
{
    float: left;
    height: 25px;
    width: 70%;
    border: none;
    background: white;
    margin-top: 11px;
    font-size: 14px;
}

.number
{

}

.cell > p > b
{
    color: #d5d5d5;
}

#button-cont
{
    float: right;
    margin: 30px 0px 10px 0px;
    width: 100%;
    height: 55px;
    background-color: #d5d5d5;
}

.action-button
{
    margin: 8px 0px 0px 15px;
    width: 150px;
    height: 40px;
    font-size: 20px;
}

#node_image
{
    width: 42px;
    margin: auto;
}

#node_image img
{
    width: 42px;
    float: left;
}

.edit-node
{
    float: left;
}

.node_edit
{
    width: 40px;
    margin-right: 2px;
}

.node_del
{
    width: 26px;
}

.edit-node a
{
    color: #008000;
    font-size: 12px;
}

.editable
{
    width: 69px;
    height: 25px;
    margin: auto;
}