@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300&subset=cyrillic,latin);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

h1, h2, h3, h4, h5, h6, p
{
    font-family: 'Open Sans', serif !important;
    font-weight: 300 !important;
}

a,input, textarea
{
    font-family: 'Open Sans', serif !important;
    font-weight: 400 !important;
}

input
{
    line-height: normal !important;
}

textarea {
    resize: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del,
dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, input, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video, textarea
{
    border: 0;
    font-family: helvetica, arial, sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    outline: 0;
    vertical-align: baseline;
}

html {
    height: 100%;
    overflow-y: scroll;
    -webkit-font-smoothing: antialiased
}

body {
    /*background: url("../img/bg/bg.jpg") repeat 0 0;*/
    background-color: #f3f3f3;
    color: #8a8a8a;
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
    height: 100%;
    line-height: 18px;
    /*max-width: 1600px;*/
    /*margin: auto;*/
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, .fixer {
    display: block;
    position: relative
}

/* headers
-----------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    display: block;
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    padding: 0 0 20px 0
}

/* links
-----------------------------------------------*/
a {
    color: #34434b;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: 100%;
    outline: 0;
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

/* paragraphs
-----------------------------------------------*/
p, address {
    display: block;
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    padding-bottom: 20px
}

strong, b, strong em, strong i {
    font-weight: bold
}

em, i {
    font-style: italic;
}

.fixer {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 912px
}

/* #header
-----------------------------------------------*/

#header {
    /*background: url("../img/bg/header.jpg") repeat-x 0 0;*/
    clear: both;
    display: block;
    min-height: 58px;
    overflow: hidden;
    padding: 0;
    width: 100%
}

#header .fixer {
    /*background: url("../img/bg/header.png") repeat-x 0 0;*/
    background-color: #494949;
    overflow: hidden;
    min-height: 52px;
    width: auto;

    -webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.4);
    -moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.4);
    box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.4);
}

#header .top-profile {
    float: left;
    padding: 5px 0 0 5px;
    /*width: 500px*/
}

#header .top-profile .pic {
    float: left;
    width: 41px;
    height: 41px;
    border-radius: 57px;
    overflow: hidden;
}

#header .top-profile img {
    float: left;
    height: 41px;
    width: 41px;
    position: relative;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#header .top-profile .txt {
    float: left;
    padding: 5px 0 0 10px
}

#header .top-profile p {
    color: #d3d3d3;
    font-size: 13px;
    line-height: 17px;
    padding: 0
}

#header #username_current a
{
    color: #d3d3d3 !important;
}

#header #edit_profile, #header #my-contacts, #header #admin-panel
{
    font-size: 13px;
}

#header .top-profile h3 {
    color: #d3d3d3;
    font-size: 16px;
    line-height: 19px;
    margin: -2px 0 0 0;
    padding: 0
}

#header .top-profile ul {
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 2px 0 0 0
}

#header .top-profile li {
    float: left;
    font-size: 13px;
    line-height: 17px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 0 0
}

/*#header .top-profile a {*/
    /*color: #ffaa0f*/
/*}*/

#header .header-rhs {
    float: right
}

#header .access {
    float: left;
    margin: 0;
    padding: 16px 15px 0 0
}

#header .access li {
    float: left;
    font-size: 14px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px;
    text-transform: uppercase;
}

#header .access a {
    color: #d3d3d3;
    font-weight: bold
}

#header .resend-area {
    display: block;
    overflow: hidden;
    padding: 12px 5px 0 0;
    position: absolute;
    right: 0;
    top: 0
}

#header .resend-area h6 {
    clear: none;
    color: #d3d3d3;
    float: left;
    font-size: 14px;
    line-height: 24px;
    padding: 3px 10px 0 0
}

#header .resend-area .btn {
    clear: none;
    float: left;
    font-size: 15px;
    line-height: 26px;
    min-height: 26px;
    padding: 0 15px
}

#header .top-search {
    border-right: 2px solid #696868;
    float: left;
    margin: 8px 0 0 0;
    padding: 0 25px 0 0;
    width: 260px
}

#header .top-search .search {
    clear: both;
    display: block;
    height: 37px;
    padding: 0;
    position: relative
}

#header .top-search .fld {
    background: #ffffff;
    border: 0;
    clear: both;
    color: #cacaca;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    padding: 3px 50px 4px 10px;
    width: 200px;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8;
}

#header .top-search .fld:focus {
    color: #666666
}

#header .top-search .btn {
    /*background: url("../img/icons/search23x22.png") no-repeat center center;*/
    border: 0;
    cursor: pointer;
    display: block;
    /*height: 37px;*/
    height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -9999em;
    /*width: 37px;*/
    width: 24px;
    margin: 7px 10px 0px 0px;
}

/* main
-----------------------------------------------*/

#main {
    clear: both;
    display: block;
    margin: 0;
    min-height: 632px;
    overflow: hidden;
    padding: 0 0 20px 0;
    width: 100%
}

section .header {
    background: url("../img/backgrounds/sep2x2.jpg") repeat-x bottom left;
    clear: both;
    display: block;
    margin: 0 auto;
    min-height: 107px;
    overflow: hidden;
    padding: 27px 0 0 0;
    width: 720px
}

section .header .logo {
    /*background: url("../img/logo-orange.png") no-repeat 0 0;*/
    display: block;
    height: 73px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999em;
    width: 249px;
}

/* general -----------------------------------------------*/

#header .btn,
#main .btn,
.ui-dialog .btn,
.resend-area .btn
{
    /*background: #f79320 url("../img/buttons/btn-x10x41.jpg") repeat-x 0 0;*/
    /*border: 1px solid #e2b334;*/
    clear: both;
    color: #ffffff;
    display: block;
    font-family: 'HelveticaNeueW82-Regula';
    font-size: 20px;
    line-height: 26px;
    min-height: 26px;
    overflow: hidden;
    padding: 6px 0 9px 0;
    position: relative;
    text-align: center;
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

#main .btn-grey {
    /*background: #f79320 url("../img/buttons/btn-x10x41grey.jpg") repeat-x 0 0;*/
    border: 1px solid #aeadad;
    clear: both;
    color: #ffffff !important;
    display: block;
    font-family: 'HelveticaNeueW82-Regula';
    font-size: 20px;
    line-height: 26px;
    min-height: 26px;
    overflow: hidden;
    padding: 6px 0 9px 0;
    position: relative;
    text-align: center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#main .btn-unactive {
    opacity: 0.4;
    filter: alpha(opacity=40);
    text-decoration: none
}

#main h1 {
    color: #8a8a8a;
    font-family: 'Neo Sans W01';
    font-size: 23px;
    line-height: normal
}

#main h2 {
    color: #8a8a8a;
    font-family: 'Neo Sans W01';
    font-size: 17px;
    line-height: 20px;
    padding: 0
}

#main p {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 20px
}

#main div.selectbox-wrapper {
    background: #ffffff;
    border: 0;
    color: #666666;
    font-size: 14px;
    margin: 0px;
    overflow: auto;
    padding: 0px;
    position: absolute;
    text-align: left;
    width: 156px !important;
    z-index: 999999
}

#main div.selectbox-wrapper ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

#main div.selectbox-wrapper ul li.selected, #main div.selectbox-wrapper ul li:hover {
    background: #f3f3f3
}

#main div.selectbox-wrapper ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 2px 9px;
    cursor: pointer;
    border: 0
}

#main .selectbox {
    background: #ffffff url("../img/controls/select40x35.jpg") no-repeat top right;
    border: 1px solid #e5e5e5;
    color: #acacac;
    cursor: pointer;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 20px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 4px 46px 6px 10px;
    width: 100px;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8;
}

#main .selectbox:focus, #main .focus-active, #main .focus-active .selectbox {
    color: #666666 !important
}

/* content -----------------------------------------------*/

#main .content {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 50px 0 10px 0
}

#main .welcome {
    float: left;
    padding: 55px 0 0 30px;
    width: 455px
}

#main .welcome h1 {
    color: #666666;
    font-size: 50px;
    padding-bottom: 10px
}

#main .welcome h2 {
    color: #666666;
    font-size: 20px;
    line-height: 33px
}

#main .welcome p {
    color: #8a8a8a;
    font-size: 20px !important;
    line-height: 33px !important;
}

/* panels -----------------------------------------------*/

#main .panel {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 83px 0 10px 0
}

#main .panel-box {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 22px;
    position: relative;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 2px 2px #e5e5e5;
    box-shadow: 0px 0px 2px 2px #e5e5e5;
}

#main .panel-box .row {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 10px 0;
    position: relative
}

#main .panel-box .fld {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    clear: both;
    color: #acacac;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 4px 10px 6px 10px;
    width: 241px;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8;
}

#main .panel-box .fld:focus {
    color: #666666
}

#main .panel-box .fld215-how-to-find {
    /*background: #ffffff url("../img/input235x30.jpg") no-repeat top center;*/
    font-size: 16px;
    padding: 6px 10px 4px 113px;
    width: 112px
}

#main .panel-box .action-row {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 15px 0 0 0
}

#main .panel-box h3 {
    /*color: #ffaa0f;*/
    font-family: 'HelveticaNeueW82-Light';
    font-size: 30px;
    line-height: 34px;
    padding: 0 0 15px 0;
    text-align: center;
    text-transform: capitalize;
}

#main .panel-box p {
    color: #666666;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 0 0 20px 0
}

#main .panel-box .btn {
    clear: both;
    float: none;
    width: 261px
}

#main .panel-box .btn-lhs {
    clear: none;
    float: left;
    width: 125px
}

#main .panel-box .btn-rhs {
    clear: none;
    float: right;
    width: 125px
}

#main .panel-box .forgot {
    padding: 0
}

#main .panel-box .forgot {
    /*color: #ffaa0f;*/
}

/*#main .panel-box .forgot a {*/
    /*color: #ffaa0f*/
/*}*/

.lower-font /* sign-in.htm -> #password-recovery-form */
{
    font-size: 14px !important;
}

#main .panel-box .error {
    color: #dd0101;
    font-size: 14px !important;
    padding: 10px 0 0 0 !important;
    text-align: center
}

#main .panel-box .alert {
    background: url("../img/controls/alert33x33.png") no-repeat 0 0;
    display: block;
    height: 33px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    text-indent: -9999em;
    width: 33px
}

#main .panel-box .tick {
    background: url("../img/controls/tick11x17.png") no-repeat 0 0;
    display: block;
    height: 16px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    text-indent: -9999em;
    width: 21px
}

#main .panel-box .check-tick label {
    color: #666666;
    float: left;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    line-height: normal;
    padding: 3px 0 0 10px
}

#main .panel-box .check-tick .jqTransformCheckboxWrapper {
    display: block;
    float: left;
    margin: 0;
    padding: 0
}

#main .panel-box .check-tick .jqTransformCheckbox {
    /*background: url("../img/checkbox24x24.jpg") no-repeat 0 0;*/
    display: block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

#main .panel-box .check-tick .jqTransformChecked {
    /*background: url("../img/checkbox24x24.jpg") no-repeat 0 -24px*/
    background-position: 0 -24px;
}

#main .panel-box .check-tick .jqTransformHidden {
    display: none;
}

/*#main .panel-box .check-tick a {*/
    /*color: #ffaa0f*/
/*}*/

#main .panel-box .check-radio div {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 7px 0
}

#main .panel-box .check-radio label {
    color: #666666;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    line-height: normal;
    padding: 3px 0 0 10px
}

#main .panel-box .check-radio .jqTransformRadioWrapper {
    display: block;
    float: left;
    margin: 0;
    padding: 0
}

#main .panel-box .check-radio .jqTransformRadio {
    /*background: url("../img/radio23x23.jpg") no-repeat 0 0;*/
    display: block;
    height: 23px;
    width: 23px;
    vertical-align: middle;
}

#main .panel-box .check-radio .jqTransformChecked {
    /*background: url("../img/radio23x23.jpg") no-repeat 0 -23px*/
    background-position: 0 -23px;
}

#main .panel-box .check-radio .jqTransformHidden {
    display: none;
}

#main .panel-box .check-radio a {
    color: #666666;
    font-size: 15px;
    font-weight: bold
}

#main .panel-box .bg-dark {
    /*background: #f79320 url("../img/bg/bg5x91.jpg") repeat-x 0 0;*/
    clear: both;
    float: left;
    height: 65px;
    margin: 0 -22px 20px -22px;
    padding: 26px 42px 0 28px;
    position: relative;
    width: 237px;
}

#main .col-rhs310 {
    float: right;
    width: 354px;
}

#main .invite-box {
    width: 263px
}

#main .create-box {
    float: right;
    margin: 0 45px 0 0;
    width: 263px;
}

#main .signin-box {
    width: 263px;
}

#main .password-recovery {
    width: 263px;
}

#main .password-recovery {
    width: 263px;
}

#main .forget-box {
    width: 263px;
}

#main .forget-box h3 {
    padding-bottom: 10px;
}

#main .create-new-box {
    width: 263px;
}

#main .changed-box {
    width: 263px;
}

#main .activate-box {
    width: 263px;
}

#main .available-box {
    width: 263px;
}

#main .available-box .check-tick {
    padding: 9px 0 9px 7px;
    border-bottom: 1px solid #e1dede;
    border-top: 1px solid #e1dede;
}

#main .available-box h4 {
    clear: both;
    font-size: 15px;
    line-height: 20px;
    padding: 30px 0 50px 0;
    text-align: center
}

#main .available-box h4 a {
    color: #666666;
    font-weight: bold
}

#main .available-box h5 {
    clear: both;
    color: #666666;
    font-size: 32px;
    line-height: normal;
    padding: 5px 0 15px 0;
    text-align: center
}

#main .available-box .tick {
    top: 40px;
    right: 12px
}

#main .social-panel-box {
    float: right;
    margin: 13px 45px 0 0;
    width: 309px
}

#main .social-panel-box .box-twitter {
    float: left;
    padding: 6px;
    width: 137px
}

#main .social-panel-box .box-fb {
    float: right;
    padding: 6px;
    width: 137px
}

#main .social-panel-box a {
    clear: both;
    /*color: #fd923b;*/
    display: block;
    font-size: 14px;
    line-height: 18px;
    min-height: 35px;
    overflow: hidden;
    padding: 3px 0 3px 55px
}

#main .social-panel-box .box-twitter a {
    /*background: url("../img/icons/twitter42x41.jpg") no-repeat 0 0;*/
}

#main .social-panel-box .box-fb a {
    /*background: url("../img/icons/facebook42x41.jpg") no-repeat 0 0;*/
}

#main .bottom-link {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 45px 0 0
}

#main .bottom-link p {
    color: #7d7e7f;
    font-size: 12px;
    padding: 10px 0;
    text-align: center
}

#main .bottom-link a {
    /*color: #ffaa0f;*/
    font-weight: bold
}

/* find -----------------------------------------------*/

#main .find-someone {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 83px 0 10px 0
}

#main .find-box {
    min-height: 280px;
    padding: 20px 33px;
    text-align: center;
    width: 595px
}

#main .find-box .message {
    color: #8a8a8a;
    font-size: 13px;
    left: 0;
    line-height3: 20px;
    position: absolute;
    text-align: center;
    top: 215px;
    width: 100%
}

#main .find-box .no-result {
    background: url("../img/backgrounds/no-result92x92.png") no-repeat top center;
    color: #8a8a8a;
    font-size: 13px;
    left: 0;
    line-height: 20px;
    padding: 100px 0 0 0;
    position: absolute;
    text-align: center;
    top: 160px;
    width: 100%
}

#main .find-box .btn-search {
    /*background: url("../img/icons/search33x33.png") no-repeat 0 0;*/
    border: 0;
    cursor: pointer;
    float: left;
    height: 33px;
    /*margin: 5px 0 0 11px;*/
    /*margin: 5px 0 0 16px;*/
    margin: 10px 0 0 20px;
    overflow: hidden;
    text-indent: -9999em;
    width: 33px
}

#main .find-box .txt-orange {
    /*color: #FFAA0F;*/
    font-size: 14px;
    left: 0;
    line-height: 20px;
    padding: 100px 0 0 0;
    position: absolute;
    text-align: center;
    top: 185px;
    width: 100%
}

#main .find-box .txt-orange a {
    /*color: #FFAA0F;*/
}

#main .find-someone .btn-join {
    clear: both;
    display: block;
    left: 50%;
    margin-left: -85px;
    position: absolute;
    top: 20px;
    width: 170px
}

#main .find-box .top-bar {
    background: #f5f5f5;
    border-bottom: 1px solid #d8d5d5;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 10px 0 8px 0
}

#main .find-box .top-bar .column {
    float: left;
    padding: 0 0 0 11px;
    width: 192px
}

#main .find-box .top-bar .col-name {
    width: 192px
}

#main .find-box .top-bar .col-name .fld {
    width: 170px
}

#main .find-box .top-bar .col-location {
    width: 156px;
}

#main .find-box .top-bar .col-location .fld {
    width: 134px;
}

#main .find-box .top-bar .col-city {
    /*width: 156px;*/
    width: 316px;
}

#main .find-box .top-bar .col-city .fld {
    /*width: 134px;*/
    width: 294px;
}

#main .find-box .top-bar .col-country {
    width: 156px;
    z-index: 9999999
}

#main .find-box .top-bar .col-country .fld {
    width: 134px
}

#main .find-box .top-bar .col-network {
    width: 192px
}

#main .find-box .top-bar .col-network .fld {
    width: 181px
}

#main .find-box .top-bar div.selectbox-wrapper {
    width: 156px !important;
    z-index: 999999
}

#main .find-box .top-bar .selectbox {
    padding: 4px 46px 6px 10px;
    width: 100px
}

#main .find-box .top-bar .selectbox:focus, #main .find-box .top-bar .focus-active, #main .find-box .top-bar .focus-active .selectbox {
    color: #666666 !important
}

/* address book -----------------------------------------------*/

#main .address-book {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 83px 0 10px 0
}

#main .address-box {
    min-height: 280px;
    padding: 20px 33px;
    text-align: center;
    width: 595px
}

#main .address-box .btn-search {
    /*background: url("../img/icons/search33x33.png") no-repeat 0 0;*/
    border: 0;
    cursor: pointer;
    float: left;
    height: 33px;
    margin: 59px 0 0 11px;
    overflow: hidden;
    text-indent: -9999em;
    width: 33px
}

#main .address-box .top-bar {
    background: #f5f5f5;
    border-bottom: 1px solid #d8d5d5;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 10px 0 8px 0
}

#main .address-box .top-bar .column {
    float: left;
    padding: 0 0 0 11px;
    width: 192px
}

#main .address-box .top-bar .fld {
    margin-bottom: 11px
}

#main .address-box .top-bar .col-1 {
    width: 257px
}

#main .address-box .top-bar .col-1 .fld {
    width: 235px
}

#main .address-box .top-bar .col-2 {
    width: 261px;
    z-index: 9999999
}

#main .address-box .top-bar .col-2 .fld {
    width: 239px
}

#main .address-box .top-bar div.selectbox-wrapper {
    width: 261px !important;
    z-index: 999999
}

#main .address-box .top-bar .selectbox {
    padding: 4px 46px 6px 10px;
    width: 203px
}

#main .address-box .alphabetical {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 17px 0 0 0;
    position: relative
}

#main .address-box .alphabetical ul {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 0 5px
}

#main .address-box .alphabetical li {
    float: left;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 12px
}

#main .address-box .alphabetical a {
    clear: both;
    color: #cacaca;
    font-weight: bold;
    display: block;
}

#main .address-box .alphabetical a:hover, #main .address-box .alphabetical .active {
    color: #febc5a;
    font-weight: bold;
    text-decoration: none
}

/* search result -----------------------------------------------*/

#main .search-result {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 17px 0 0 0;
    position: relative;
    text-align: left
}

#main .search-result .star-vip {
    /*background: url("../img/icons/star11x11.png") no-repeat 0 0;*/
    display: block;
    height: 11px;
    left: 90px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    text-indent: -9999em;
    width: 11px;
}

#main .search-result .inner {
    float: left;
    margin: 0 0 0 -25px;
    width: 620px
}

#main .search-result .result-item {
    float: left;
    margin: 0 0 5px 25px;
    padding: 8px;
    width: 269px;
    position: relative;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#main .search-result .result-item:hover, #main .search-result .result-item-active {
    background: #f7f7f7;
    text-decoration: none
}

#main .search-result .result-item .pic {
    background: url("../img/backgrounds/pic92x92.png") no-repeat 0 0;
    float: left;
    height: 80px;
    padding: 6px;
    width: 80px
}

#main .search-result .result-item .pic img {
    float: left;
    width: 80px;
    height: 80px;
    position: relative;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#main .search-result .result-item .txt {
    float: right;
    padding: 10px 0 0 0;
    width: 170px
}

#main .search-result .result-item .txt span {
    clear: both;
    display: block;
    /*overflow: hidden;*/
}

#main .search-result .result-item .txt .heading a {
    /*color: #ffaa0f;*/
    font-family: 'HelveticaNeueW82-Light';
    font-size: 26px;
    text-transform: capitalize;
    line-height: 19px;
    padding: 0;
}

#main .search-result .result-item .txt .title {
    color: #8a8a8a;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 13px;
    line-height: 18px;
    padding: 0
}

#main .search-result .result-item .txt .share-yellow {
    /*background: url("../img/icons/share9x12.png") no-repeat 0 center;*/
    display: block;

    padding: 0 0 0 14px
}

.share-yellow a
{
    /*color: #ffb749;*/
    /*font-family: 'HelveticaNeueW82-Light';*/
    font-size: 13px;
    line-height: 18px;
}

#main .search-result .result-item .txt .share-dark {
    background: url("../img/icons/share9x12-dark.png") no-repeat 0 center;
    display: block;

    padding: 0 0 0 14px
}

.share-dark a
{
    color: #dedede;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 13px;
    line-height: 18px;
}

#main .search-result .results-unactive span {
    color: #8e8e8e !important
}

/* profile -----------------------------------------------*/

#main .profile {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 150px 0 10px 0
}

#main .profile .cloud {
    background: url("../img/backgrounds/cloud130x165.png") no-repeat 0 0;
    display: block;
    height: 157px;
    left: 50%;
    /*margin-left: -57px;*/
    margin-left: -64px;
    overflow: hidden;
    padding: 8px 8px 0 8px;
    position: absolute;
    top: 20px;
    width: 114px;
    z-index: 4999;
}

#main .profile .cloud img {
    float: left;
    width: 114px;
    height: 114px;
    position: relative;
    -webkit-border-radius: 60px;
    border-radius: 60px;
}

/*
		#main .profile .star-vip {background:url("../img/icons/star18x18.png") no-repeat 0 0; color:#f6a53d; display:block; font-family:'Neo Sans W01'; font-size:16px; left:515px; line-height:20px; padding:0 0 0 20px; position:absolute; top:20px}
*/
#main .profile .star-vip {
    /*background: url("../img/icons/star18x18.png") no-repeat 0 0;*/
    /*color: #f6a53d;*/
    display: block;
    font-family: 'Neo Sans W01';
    font-size: 16px;
    left: 245px;
    line-height: 20px;
    padding: 0 0 0 20px;
    position: absolute;
    top: 123px
}

#main .profile .btn-find {
    /*background: url("../img/icons/cross9x8.png") no-repeat 0 center;*/
    color: #8a8a8a;
    display: block;
    font-family: arial;
    font-size: 12px;
    left: 630px;
    line-height: 12px;
    padding: 0 0 0 12px;
    position: absolute;
    top: 129px
}

#main .profile .btn-top-add {
    /*background: url("../img/icons/cross9x8.png") no-repeat 0 center;*/
    color: #8a8a8a;
    display: block;
    font-family: arial;
    font-size: 12px;
    left: 630px;
    line-height: 12px;
    padding: 0 0 0 12px;
    position: absolute;
    top: 110px
}

#main .profile .connections {
    /*background: url("../img/icons/share9x12.png") no-repeat 0 center;*/
    color: #cfcece;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 13px;
    left: 525px;
    line-height: 20px;
    padding: 0 0 0 14px;
    position: absolute;
    top: 125px
}

#main .profile-box {
    margin-bottom: 30px;
    padding-top: 40px;
    text-align: center;
    width: 400px
}

#main .profile-box h2 {
    color: #8a8a8a;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 20px 0;
    text-align: center;
}

#main .profile-box h3 {
    line-height: normal;
    padding: 0
}

#main .profile-box h4 {
    /*color: #ffaa0f;*/
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 0
}

#main .profile-box h4 a {
    /*color: #ffaa0f;*/
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    padding: 0
}

#main .profile-box p {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 17px;
    padding: 0 0 20px 0
}

#main .profile-box p a {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 17px;
    padding: 0 0 20px 0
}

#main .profile .social {
    clear: both;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 0 20px 0;
    text-align: center
}

#main .profile .social h4 {
    padding-bottom: 10px
}

#main .profile .social ul {
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0
}
.select-body.social ul{
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0
}

#main .profile .social li {
    background: none;
    border: 0;
    float: left;
    list-style: none;
    margin: 0;
    padding: 5px 5px;
    width: 42px
}
.select-body.social li {
    background: none;
    border: 0;
    float: left;
    list-style: none;
    margin: 0;
    padding: 5px 8px;
    width: 42px
}

#main .profile .social a {
    float: left;
    height: 41px;
    overflow: hidden;
    text-indent: -9999em;
    width: 42px
}
.select-body.social a {
    /*float: left;*/
    /*height: 41px;*/
    /*overflow: hidden;*/
    /*text-indent: -9999em;*/
    /*width: 42px;*/
    /*border-radius: 5px;*/
}

.select-body.social a img
{
    /*float: left;*/
    /*width: 42px;*/
    /*overflow: hidden;*/
}

#main .profile .social .netw {
    float: left;
    height: 41px;
    overflow: hidden;
    text-indent: -9999em;
    width: 42px;
    border: 1px solid #FFFFFF;
}

#main .profile .social .fav-netw {
    float: left;
    height: 41px;
    overflow: hidden;
    text-indent: -9999em;
    width: 42px;
    border: 1px solid #FFFFFF;
}

#main .profile .social .netw-selected {
    float: left;
    height: 41px;
    overflow: hidden;
    text-indent: -9999em;
    width: 42px;
    /*border: 1px solid #FFAA0F;*/
}

/*#main .profile .social .facebook {*/
/*background: url("../img/icons/facebook42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .facebook-link {*/
/*background: url("../img/icons/facebook42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .twitter {*/
/*background: url("../img/icons/twitter42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .twitter-link {*/
/*background: url("../img/icons/twitter42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .flickr {*/
/*background: url("../img/icons/flickr42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .flickr-link {*/
/*background: url("../img/icons/flickr42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .youtube {*/
/*background: url("../img/icons/youtube42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .youtube-link {*/
/*background: url("../img/icons/youtube42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .linkedin {*/
/*background: url("../img/icons/linkedin42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .linkedin-link {*/
/*background: url("../img/icons/linkedin42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .be {*/
/*background: url("../img/icons/be42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .be-link {*/
/*background: url("../img/icons/be42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .gplus {*/
/*background: url("../img/icons/gplus42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .gplus-link {*/
/*background: url("../img/icons/gplus42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .reddit {*/
/*background: url("../img/icons/reddit42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .reddit-link {*/
/*background: url("../img/icons/reddit42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .vimeo {*/
/*background: url("../img/icons/vimeo42x41.png") no-repeat 0 0*/
/*}*/
/*#main .profile .social .vimeo-link {*/
/*background: url("../img/icons/vimeo42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .icon-1 {*/
/*background: url("../img/icons/icon-1-42x41.png") no-repeat 0 0*/
/*}*/

/*#main .profile .social .icon-2 {*/
/*background: url("../img/icons/icon-2-42x41.png") no-repeat 0 0*/
/*}*/
/*.facebook {
    background: url("../img/icons/facebook42x41.png") no-repeat 0 0
}
.facebook-link {
    background: url("../img/icons/facebook42x41.png") no-repeat 0 0
}
.twitter {
    background: url("../img/icons/twitter42x41.png") no-repeat 0 0
}
.twitter-link {
    background: url("../img/icons/twitter42x41.png") no-repeat 0 0
}
.flickr {
    background: url("../img/icons/flickr42x41.png") no-repeat 0 0
}
.flickr-link {
    background: url("../img/icons/flickr42x41.png") no-repeat 0 0
}
.youtube {
    background: url("../img/icons/youtube42x41.png") no-repeat 0 0
}
.youtube-link {
    background: url("../img/icons/youtube42x41.png") no-repeat 0 0
}
.linkedin {
    background: url("../img/icons/linkedin42x41.png") no-repeat 0 0
}
.linkedin-link {
    background: url("../img/icons/linkedin42x41.png") no-repeat 0 0
}
.be {
    background: url("../img/icons/be42x41.png") no-repeat 0 0
}
.be-link {
    background: url("../img/icons/be42x41.png") no-repeat 0 0
}
.google {
    background: url("../img/icons/google42x41.png") no-repeat 0 0
}
.google-link {
    background: url("../img/icons/google42x41.png") no-repeat 0 0
}
.reddit {
    background: url("../img/icons/reddit42x41.png") no-repeat 0 0
}
.reddit-link {
    background: url("../img/icons/reddit42x41.png") no-repeat 0 0
}
.vimeo {
    background: url("../img/icons/vimeo42x41.png") no-repeat 0 0
}
.vimeo-link {
    background: url("../img/icons/vimeo42x41.png") no-repeat 0 0
}
.icon-1 {
    background: url("../img/icons/icon-1-42x41.png") no-repeat 0 0
}
.icon-2 {
    background: url("../img/icons/icon-2-42x41.png") no-repeat 0 0
}*/

#main .profile .btn-join {
    clear: both;
    margin: 0 auto;
    width: 170px
}

#main .profile .findme {
    border-top: 2px solid #f7f7f7;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 15px 0 0 0;
    text-align: center
}

#main .profile .findme h5 {
    font-size: 13px;
    padding: 0;
}

#main .profile .findme a {
    color: #8a8a8a
}

#main .btn-content {
    width: 170px;
    padding-top: 25px;
}

/* edit -----------------------------------------------*/

#main .edit-profile {
    clear: both;
    display: block;
    margin: 0 auto;
    padding: 70px 74px 0 74px;
    position: relative;
    width: 442px
}

#main .edit-profile .slide-next {
    /*background: url("../img/arrow-next18x21.png") no-repeat 0 0;*/
    display: block;
    height: 21px;
    overflow: hidden;
    position: absolute;
    right: 35px;
    text-indent: -9999em;
    top: 50%;
    width: 18px
}

#main .edit-profile .slide-next:hover, #main .edit-profile .slide-next-active {
    background-position: 0 -21px
}

#main .edit-profile .slide-prev {
    /*background: url("../img/controls/arrow-prev18x21.png") no-repeat 0 0;*/
    display: block;
    height: 21px;
    left: 35px;
    overflow: hidden;
    position: absolute;
    text-indent: -9999em;
    top: 50%;
    width: 18px
}

#main .edit-profile .slide-prev:hover, #main .edit-profile .slide-prev-active {
    background-position: 0 -21px
}

#main .drag-photo {
    background: url("../img/backgrounds/drag-photo-cloud.png") no-repeat 0 0;
    display: block;
    height: 158px;
    left: 50%;
    margin-left: -65px;
    overflow: hidden;
    padding: 7px 0 0 7px;
    position: absolute;
    top: 17px;
    width: 123px;
    z-index: 999
}

#main .drag-photo img {
    float: left;
    position: relative;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

#main .profile-img {
    width: 115px;
    height: 115px;
    border-radius: 57px;
    overflow: hidden;
    cursor: pointer;
}

#main .edit-profile .action-top {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 15px 0
}

#main .edit-profile .btn-networks {
    /*background: url("../img/buttons/btn-network214x50.png") no-repeat 0 0;*/
    border: 0;
    color: #ffffff !important;
    float: left;
    font-family: 'HelveticaNeueW82-Regula';
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 214px
}

#main .edit-profile .btn-networks:hover, #main .edit-profile .btn-networks-active {
    background-position: 0 -48px;
    text-decoration: none
}

#main .edit-profile .btn-about {
    /*background: url("../img/buttons/btn-about214x50.png") no-repeat 0 0;*/
    border: 0;
    color: #ffffff !important;
    float: right;
    font-family: 'HelveticaNeueW82-Regula';
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 214px;
    margin-right: -2px;
}

#main .edit-profile .btn-about:hover, #main .edit-profile .btn-about-active {
    background-position: 0 -48px;
    text-decoration: none
}

#main .edit-profile .edit-box {
    padding: 4px 4px 30px 4px;
    width: 432px
}

#main .edit-profile h3 {
    line-height: 50px;
    padding: 0;
    text-transform: capitalize;
}

#main .edit-profile h4 {
    color: #8a8a8a;
    font-family: 'HelveticaNeueW82-Light', arial;
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 15px 0;
    text-align: center
}

#main .txt-tuts {
    color: #7d7e7f;
    font-size: 14px;
    padding: 10px 0;
    text-align: center
}

#main .txt-tuts a {
    /*color: #ffaa0f*/
}

#main .txt-link {
    color: #7d7e7f;
    font-size: 12px;
    padding: 10px 0;
    text-align: center
}

#main .txt-link a {
    /*color: #ffaa0f;*/
    font-weight: bold
}

#main .edit-profile .list {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%
}

#main .edit-profile .list ul {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%
}

#main .edit-profile .list ul li {
    display: inline-block;
    /*float: left;*/
    height: 42px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 5px
}

#main .edit-profile .list img {
    float: none
}

#main .edit-profile .add-network {
    border-bottom: 1px solid #f0f0f0;
    float: left;
    margin: 0 0 0 16px;
    padding: 0 0 25px 0;
    position: relative;
    width: 400px;
    z-index: 99
}
#networks li a {
    border: none !important;
}

#main .edit-profile .add-network .btn-add {
    display: block;
    margin: 0 auto;
    width: 42px
}

#main .edit-profile .add-network .btn-add img {
    float: left
}

#main .edit-profile .enter-profile {
    background: #ffffff url("../img/controls/arrow14x12-up.png") no-repeat top center;
    clear: both;
    display: block;
    left: 0;
    overflow: hidden;
    padding: 12px 0 10px 0;
    position: absolute;
    top: 85px;
    width: 400px
}

#main .edit-profile .enter-profile .btn-add {
    background: url("../img/controls/plus33x33two.png") no-repeat 0 0;
    height: 33px;
    overflow: hidden;
    position: absolute;
    right: 45px;
    top: 17px;
    text-indent: -9999em;
    width: 33px;
    z-index: 9999
}

#main .edit-profile .enter-profile .btn-add-unactive {
    background-position: 0 -33px
}

#main .edit-profile .enter-profile .btn-delete {
    background: url("../img/controls/cross33x33.png") no-repeat 0 0;
    height: 33px;
    overflow: hidden;
    position: absolute;
    right: 9px;
    top: 17px;
    text-indent: -9999em;
    width: 33px;
    z-index: 9999
}

#main .edit-profile .enter-profile .fld {
    font-size: 16px;
    line-height: 40px;
    #line-height: 34px;
    height: 40px;
    padding: 0 10px;
    width: 378px
}

#main .edit-profile .enter-profile .fld-enter {
    text-align: center
}

#main .edit-profile .enter-profile .fld-focus {
    border: 3px solid #848484;
    margin: -2px 0 0 0
}

#main .edit-profile .enter-profile .fld-facebook {
    /*background: #ffffff url("../img/input-facebook397x40.jpg") no-repeat top center;*/
    color: #666666;
    font-weight: bold;
    padding: 0 0 0 121px;
    width: 273px
}

#main .edit-profile .enter-profile .fld-select {
    border: 2px solid #e5e5e5;
    margin: -2px 0 0 0
}

#main .edit-profile .preferred-networks {
    clear: both;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 0 0;
    width: 367px
}

#main .edit-profile .preferred-networks .panel-box {
    background: #f3f3f3;
    border: 1px solid #cacaca;
    min-height: 47px;
    padding: 4px 0 0 0;
    width: 365px;
    -webkit-box-shadow: inset 0px 0px 2px 2px #e5e5e5;
    box-shadow: inset 0px 0px 2px 2px #e5e5e5;
}

#main .edit-profile .my-networks {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 20px 0 0 0;
    position: relative;
    width: 432px;
    z-index: 1
}

#main .edit-profile .link-drag {
    /*background: url("../img/arrow-drag-up.png") no-repeat 0 center;*/
    color: #adadad;
    display: block;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 15px;
    position: absolute;
    right: 40px;
    top: 21px
}

#main .edit-profile .my-networks ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%
}

#main .edit-profile .my-networks ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 5px
}

#main .edit-profile .my-networks img {
    float: none
}
.network-selection .col-name #netw-search {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    box-shadow: 0 0 5px 0 #F8F8F8 inset;
    clear: both;
    color: #ACACAC;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    /*font-size: 20px;*/
    font-size: 15px;
    height: 30px;
    line-height: 30px;
    padding: 4px 10px 6px;
    position: relative;
    width: 355px;
    margin-bottom: 20px;
}
.select-body.social {
    border: 2px solid #E5E5E5;
    padding: 10px;
    margin-bottom: 15px;
    min-height:300px;
}

.add-netw {
    border-bottom: 1px solid #E5E5E5;
    margin: 0 auto 15px;
    width: 70%;
}
.added-netw {
    margin-bottom: 15px;
}

.select-body.social h4 {
    margin-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.network-selection .top-bar #search_ncc {
    /*background: url("../img/icons/search33x33.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 33px;
    margin: 5px 0 0 11px;
    overflow: hidden;
    text-indent: -9999em;
    width: 33px;
    position: absolute;
    top: 56px;
    right: 23px;
}
.network-selection .top-bar #search_netw{
    /*background: url("../img/icons/search33x33.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    border: 0 none;
    cursor: pointer;
    float: left;
    height: 33px;
    margin: 5px 0 0 11px;
    overflow: hidden;
    text-indent: -9999em;
    width: 33px;
    position: absolute;
    top: 62px;
    right: 16px;
}
.suggest > h3 {
    margin: 0 auto;
    padding-bottom: 0;
    width: 40%;
}
.netw-found {
    background: none repeat scroll 0 0 #F4F4F4;
    height: 41px;
    padding: 5px;
    margin-bottom: 5px;
}
.netw-name {
    float: left;
    margin-left: 10px;
    padding: 10px;
    text-transform: capitalize;
}
div.add-to-netw {
    float: right;
    font-size: 12px;
    /*padding: 4px;*/
    margin-top: 4px;
    text-transform: uppercase;
}
a.add-to-netw {
    float: right;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
}
.add-to-netw span {
    /*color: #FFAA0F;*/
    font-size: 20px;
    float: left;
    margin-right: 5px;
    marin-top: -1px
}
.add-to-netw > a {
    overflow: visible !important;
    text-indent: 0 !important;
    width: 135px !important;
    height: 30px !important;
    text-decoration: none;
}
.search-results > a {
    display: block;
    float: right;
    height: 30px;
    text-decoration: none;
}
.network-selection h3 {
    /*color: #FFAA0F;*/
    float: left;
}
.show-search {
    float: left !important;
}
.show-all-netw {
    float: right !important;
}
#main .profile-details {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 20px 8px 0 8px;
    position: relative;
}

#main .profile-details ul {
    border-top: 1px solid #f0f0f0;
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0
}

#main .profile-details li {
    border-bottom: 1px solid #f0f0f0;
    color: #666666;
    clear: both;
    display: block;
    font-size: 20px;
    line-height: normal;
    list-style: none;
    margin: 0;
    overflow: hidden;
    /*padding: 14px 8px 14px 10px;*/
    padding: 0px 8px 0px 10px;
}

#main .profile-details li:hover
{
    background: rgba(229,229,229,0.3);
}

#main .profile-details p {
    width: 94%;
    height: 56px;
    text-align: left;

    clear: none;
    color: #666666;
    float: left;
    font-family: 'HelveticaNeueW82-Light', arial;
    font-size: 20px;
    font-weight: normal;
    line-height: normal;
    padding: 0
}

#main .profile-details p a {
    width: 100%;
    height: 56px;
    line-height: 56px;
    display: block;

    color: #666666;
    font-family: 'HelveticaNeueW82-Light', arial;
}

#main .profile-details p a:hover
{
    text-decoration: none;
}

#main .profile-details label {
    display: none
}

#main .profile-details .jqTransformCheckboxWrapper {
    float: right;
    margin: 0;
    padding: 3px 0 0 0
}

#main .profile-details .jqTransformCheckbox {
    /*background: url("../img/tick22x17.png") no-repeat 0 0;*/
    display: block;
    height: 17px;
    width: 22px;
    vertical-align: middle;
}

#main .profile-details .jqTransformChecked {
    /*background: url("../img/tick22x17.png") no-repeat 0 -17px*/
}

#main .profile-details .jqTransformHidden {
    display: none;
}

#main .edit-profile .action-bottom {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 20px 0 0 0
}

#main .edit-profile .action-bottom .btn {
    display: block;
    float: none;
    margin: 0 auto;
    width: 177px;
}

/* other -----------------------------------------------*/

#main .resend-area {
    background: #ffffff;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 9px 0 12px 0;
}

#main .resend-area .fixer {
    width: 720px
}

#main .resend-area h6 {
    clear: none;
    float: left;
    color: #666666;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 10px 0 0
}

#main .resend-area .btn {
    clear: none;
    float: left;
    width: 165px
}



#congs {
    clear: both;
    display: block;
    padding: 0;
    text-align: center
}

#congs p {
    color: #666666;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 30px
}

#t-and-c {
    clear: both;
    display: block;
    overflow: hidden;
}

#t-and-c .popup-inner {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#t-and-c p {
    color: #8a8a8a;
    font-size: 13px;
    line-height: 20px
}

.edit-modal {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 !important
}

.edit-modal .btn-grey {
    /*background: #f79320 url("../img/buttons/btn-x10x41grey.jpg") repeat-x 0 0;*/
    border: 1px solid #aeadad;
    clear: both;
    color: #ffffff !important;
    display: block;
    font-family: 'HelveticaNeueW82-Regula';
    font-size: 20px;
    line-height: 26px;
    min-height: 26px;
    overflow: hidden;
    padding: 6px 0 9px 0;
    position: relative;
    text-align: center;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.edit-modal .panel-box {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 15px 0;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8
}

.edit-modal .fld {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    clear: both;
    color: #acacac;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    padding: 4px 40px 6px 10px;
    width: 355px;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8;
}

.edit-modal .fld:focus {
    color: #666666
}

.edit-modal .network-suggestion {
    clear: both;
    display: block;
    overflow: hidden
}

.edit-modal .network-suggestion .btn {
    display: block;
    float: none;
    margin: 0 auto;
    width: 123px
}

.edit-modal .network-suggestion .row {
    padding: 0 0 10px 0
}

.edit-modal .thanks {
    clear: both;
    display: block;
    overflow: hidden
}

.edit-modal .thanks .btn {
    display: block;
    float: none;
    margin: 0 auto;
    width: 123px
}

.edit-modal .thanks p {
    color: #666666;
    font-size: 18px;
    line-height: 26px;
    padding: 0 40px 25px 40px;
    text-align: center
}

.edit-modal .add-network {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0
}

.edit-modal .add-network .row {
    padding: 0 0 16px 0
}

.edit-modal .add-network .btn-search {
    /*background: url("../img/icons/search33x33-2.png") no-repeat 0 0;*/
    height: 33px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 5px;
    text-indent: -9999em;
    width: 33px;
    z-index: 9999
}

.edit-modal .add-network h4 {
    color: #666666;
    font-family: 'HelveticaNeueW82-Light', arial;
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 10px 0;
    text-align: center
}

.edit-modal .add-network h5 {
    clear: both;
    /*color: #ffaa0f;*/
    float: left;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 20px;
    line-height: 34px;
    margin: 0;
    overflow: hidden;
    padding: 0
}

.edit-modal .add-network .link-show {
    /*color: #ffaa0f;*/
    float: right;
    font-size: 14px;
    line-height: normal;
    margin: 10px 0 0 0
}

.edit-modal .add-network .heading {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 3px 0
}

.edit-modal .list {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%
}

.edit-modal .list ul {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    /*width: 390px;*/
}

.edit-modal .list ul li {
    display: inline-block;
    /*float: left;*/
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 10px 15px 10px
}

.edit-modal .list img {
    float: none
}

.edit-modal .txt-network {
    clear: both;
    /*color: #ffaa0f;*/
    display: block;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    padding: 5px 0 0 0;
    text-align: center
}

.edit-modal .txt-network a {
    /*color: #ffaa0f;*/
}

.edit-modal .search-box {
    padding: 4px
}

.edit-modal .search-result {
    clear: both;
    display: block;
    height: 320px;
    overflow: auto;
    padding: 0;
    width: 396px !important
}

.edit-modal .search-result ul {
    clear: both;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.edit-modal .search-result li {
    background: #f4f4f4;
    clear: both;
    display: block;
    overflow: hidden;
    list-style: none;
    margin: 0 0 3px 0;
    padding: 5px 10px 5px 5px
}

.edit-modal .search-result .pic {
    float: left;
    width: 220px
}

.edit-modal .search-result .pic img {
    float: left
}

.edit-modal .search-result figcaption {
    color: #666666;
    float: left;
    font-size: 18px;
    line-height: 42px;
    padding: 0 0 0 10px;
}

.edit-modal .search-result .link-add {
    /*background: url("../img/plus9x8.png") no-repeat 0 center;*/
    color: #8a8a8a;
    float: right;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    margin: 12px 0 0 0;
    padding: 0 0 0 15px
}

.edit-modal .personal-statement {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 15px 0 0 0
}

.edit-modal .personal-statement .fld {
    color: #acacac;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 20px;
    height: auto;
    min-height: 90px;
    line-height: 24px;
    padding: 10px 0 10px 10px;
    width: 395px
}

.edit-modal .personal-statement .action-row {
    /*padding: 15px 0 0 0;*/
    padding: 5px 0 0 0;
}

.edit-modal .personal-statement .btn {
    display: none;
    clear: none;
    float: right;
    margin: 0 0 0 10px;
    width: 123px
}

.edit-modal .personal-statement .action-row p {
    clear: none;
    color: #4b4b4b;
    float: left;
    /*font-size: 16px;*/
    font-size: 12px;
    /*line-height: 50px;*/
    line-height: 15px;
    padding: 0
}

.edit-modal .personal-statement a.clear-intro
{
    color: #a6a6a6;
    float: right;
    font-size: 11px;
    line-height: 15px;
}

.edit-modal .customize-profile {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 100%
}

.edit-modal .customize-profile .list {
    padding: 0
}

.edit-modal .customize-profile .list ul {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    /*width: 390px;*/
}

.edit-modal .customize-profile .list ul li {
    display: inline-block;
    /*float: left;*/
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 5px 0
}

.edit-modal .customize-profile img {
    float: none
}

.edit-modal .customize-profile .list a {
    display: block;
    height: 58px;
    overflow: hidden;
    padding: 10px 0 0 0;
    width: 69px
}

.edit-modal .customize-profile .list a:hover, .edit-modal .customize-profile .list .unactive {
    /*background: url("../img/circle-light69x68.png") no-repeat 0 0;*/
}

.edit-modal .customize-profile .list .active {
    background: url("../img/backgrounds/circle-dark69x68.png") no-repeat 0 0;
}

.edit-modal .customize-profile .action-row {
    padding: 10px 0 0 0
}

.edit-modal .customize-profile .btn {
    clear: none;
    float: right;
    margin: 0 0 0 10px;
    width: 123px
}

.edit-modal .location-details {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 100%
}

.edit-modal .location-details .btn-add {
    background: url("../img/controls/plus33x33two.png") no-repeat 0 0;
    height: 33px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 5px;
    text-indent: -9999em;
    width: 33px;
    z-index: 9999
}

.edit-modal .location-details .btn-add-unactive {
    background-position: 0 -33px
}

.edit-modal .location-details .btn-delete {
    background: url("../img/controls/cross33x33.png") no-repeat 0 0;
    height: 33px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 3px;
    text-indent: -9999em;
    width: 33px;
    z-index: 9999
}

.edit-modal .location-details .row {
    float: left;
    overflow: visible;
    padding: 0 45px 10px 0;
    width: 435px
}

.edit-modal .location-details .col-lhs {
    float: left;
    /*width: 192px*/
    width: 436px;
}

.edit-modal .location-details .fld {
    /*width: 170px*/
    width: 384px;
}

.edit-modal .location-details .col-country {
    float: right;
    width: 196px;
    z-index: 9999999
}

.edit-modal .location-details .selectbox {
    width: 138px
}

.edit-modal .location-details .selectbox-wrapper {
    width: 196px !important
}

.edit-modal .location-details .action-row {
    padding: 10px 0 0 0
}

.edit-modal .location-details .btn {
    clear: none;
    float: right;
    margin: 0 0 0 10px;
    width: 123px
}

.edit-modal .location-details .results {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0
}

.edit-modal .location-details .results h6 {
    clear: both;
    /*color: #ffaa0f;*/
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    overflow: hidden;
    text-align: right;
    padding: 0 45px 5px 0
}

.edit-modal .location-details .results h6 a {
    /*color: #ffaa0f;*/
    font-weight: bold
}

.edit-modal .location-details .results ul {
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0
}

.edit-modal .location-details .results li {
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0 0 7px 0;
    position: relative
}

.edit-modal .location-details .results p {
    clear: none;
    color: #666666;
    float: left;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 16px;
    line-height: 20px;
    padding: 8px 0 0 0;
    width: 380px
}

.edit-modal .location-details .results .column {
    background: #f6f6f6;
    float: left;
    min-height: 34px;
    padding: 3px 7px;
    width: 421px;
    border: 1px solid #f6f6f6;
}

/*.edit-modal .location-details label {display:none}*/
.edit-modal .location-details .jqTransformRadioWrapper {
    float: right;
    margin: 0;
    padding: 5px 0 0 0
}


			/*.edit-modal .location-details .jqTransformRadio {background: url("../img/radio23x23.png") no-repeat 0 0; display:block; height:23px; width:23px; vertical-align: middle;}*/
			/*.edit-modal .location-details .jqTransformChecked {background: url("../img/radio23x23.png") no-repeat 0 -23px}*/


.edit-modal .location-details .jqTransformRadio {
    /*background: url("../img/icons/house19x22.png") no-repeat 0 0;*/
    display: block;
    height: 22px;
    width: 19px;
    vertical-align: middle;
}

.set_loc {
    display: none;
}

.set_loc + label {
    /*background: url("../img/icons/house19x22.png") no-repeat 0 0;*/
    display: block;
    height: 22px;
    width: 19px;
    vertical-align: middle;
    float:right;
    margin-top:5px;
    cursor: pointer;
}

.set_loc:checked + label {
    /*background: url("../img/icons/house19x22.png") no-repeat 0 -22px;*/
    background-position: 0 -22px;
    float:right;
    margin-top:5px;
}

.edit-modal .location-details .jqTransformRadio.jqTransformChecked {
    /*background: url("../img/icons/house19x22.png") no-repeat 0 -22px;*/
    float:right;
}

.edit-modal .location-details .jqTransformHidden {
    display: none;
}

.edit-modal .location-details .hide-element {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.edit-modal .upload-photo {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0;
    width: 100%
}

.edit-modal .upload-photo .action-row {
    padding: 10px 66px 15px 0
}

.edit-modal .upload-photo .btn {
    clear: none;
    float: right;
    margin: 0 5px;
    width: 123px;

    cursor: pointer;
}

.edit-modal .upload-photo .action-row #save_resized
{

}

.edit-modal .upload-photo .photo {
    display: block;
    margin: 0 auto;
    width: 284px;

    overflow: hidden;
}

.edit-modal .upload-photo .zoom {
    clear: both;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    height: 30px;
    overflow: hidden;
    padding: 8px 40px 0 40px;
    position: relative;
    width: 283px
}

.edit-modal .upload-photo .zoom-small {
    background: url("../img/icons/zoom15x14.png") no-repeat 0 0;
    display: block;
    height: 14px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    top: 8px;
    width: 15px
}

.edit-modal .upload-photo .zoom-large {
    background: url("../img/icons/zoom28x27.png") no-repeat 0 0;
    display: block;
    height: 27px;
    overflow: hidden;
    right: 5px;
    position: absolute;
    top: 0;
    width: 28px
}

.edit-modal .upload-photo #slider {
    background: #f5f5f5;
    border: 1px solid #b8b8b8;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.edit-modal .upload-photo #slider .ui-slider-handle {
    background: #e3e5e7 url("../img/backgrounds/bg-slider1x22.jpg") repeat-x 0 0;
    border: 1px solid #b8b8b8;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.ui-dialog {
    padding: 17px !important
}

.ui-dialog .ui-dialog-titlebar {
    border: 0 !important;
    background: none !important;
    clear: both;
    display: block;
    overflow: hidden;
    padding: 18px 0 0 0 !important
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    clear: both;
    /*color: #ffaa0f;*/
    display: none;
    float: none;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 30px;
    line-height: 34px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: center
}

.ui-dialog .ui-dialog-titlebar-close {
    background: none !important;
    border: 0 !important;
    height: 18px;
    margin: 0 !important;
    padding: 0 !important;
    right: 18px;
    top: 0 !important;
    width: 18px
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon {
    /*background: url("../img/icons/close18x18.jpg") no-repeat 0 0 !important;*/
    border: 0 !important;
    padding: 0;
    height: 18px;
    width: 18px
}

.ui-dialog h2 {
    clear: both;
    /*color: #ffaa0f;*/
    display: block;
    float: none;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    margin: -5px 0 0 0;
    overflow: hidden;
    padding: 5px 0 15px 0;
    text-align: center
}

.ui-dialog .row {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 12px 0;
    position: relative
}

.ui-dialog .action-row {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 0 0 10px 0;
    position: relative
}

.ui-dialog div.selectbox-wrapper {
    background: #ffffff;
    border: 0;
    color: #666666;
    font-size: 14px;
    margin: 0px;
    overflow: auto;
    padding: 0px;
    position: absolute;
    text-align: left;
    width: 156px !important;
    z-index: 999999
}

.ui-dialog div.selectbox-wrapper ul {
    margin: 0px;
    padding: 0px;
    list-style: none
}

.ui-dialog div.selectbox-wrapper ul li.selected, .ui-dialog div.selectbox-wrapper ul li:hover {
    background: #f3f3f3
}

.ui-dialog div.selectbox-wrapper ul li {
    list-style: none;
    display: block;
    margin: 0;
    padding: 2px 9px;
    cursor: pointer;
    border: 0
}

.ui-dialog .selectbox {
    background: #ffffff url("../img/controls/select40x35.jpg") no-repeat top right;
    border: 1px solid #e5e5e5;
    color: #acacac;
    cursor: pointer;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 20px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 4px 46px 6px 10px;
    width: 100px;
    position: relative;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8;
}

.ui-dialog .selectbox:focus, #main .focus-active, #main .focus-active .selectbox {
    color: #666666 !important
}

.edit-modal .browse-photo {
    clear: both;
    display: block;
    margin: 0 20px;
    overflow: hidden;
    padding: 0 0 20px 0;
    position: relative
}

.edit-modal .browse-photo .mask {
    display: block;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 0 0 5px
}

.edit-modal .browse-photo .btn {
    /*border: 1px solid #e2b334;*/
    clear: none;
    /*color: #ffffff !important;*/
    color: #ffffff;
    float: right;
    margin: 4px 0 0 0;
    font-family: 'HelveticaNeueW82-Regula';
    font-size: 16px;
    line-height: 35px;
    height: 35px;
    overflow: hidden;
    padding: 0;
    position: relative;
    text-align: center;
    width: 85px;
    /*-webkit-border-radius: 10px;*/
    /*border-radius: 10px;*/
}

.edit-modal .browse-photo .fld {
    background: #ffffff;
    border: 1px solid #eaeaea;
    clear: both;
    color: #cacaca;
    float: left;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    box-shadow: inset 0px 0px 5px 0 #f8f8f8;
    z-index: 1;
    overflow: hidden;
}

.edit-modal .browse-photo .btn_browse {
    /*background: url("../img/buttons/btn-browse.png") no-repeat;*/
    cursor: pointer;
    float: left;
    height: 34px;
    margin: 4px 0 0 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 87px;
    z-index: 9999;
    color: #ffffff;
}

.edit-modal .browse-photo .btn_browse label {
    /*display: none;*/
    line-height: 32px;
}

.edit-modal .browse-photo .btn_browse input {
    cursor: pointer;
    font-size: 50px;
    height: 34px;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 87px;
    opacity: 0;
    filter: alpha(opacity=0);
}

.netw-empty {
    /*background: url("../img/controls/btn-blank42x41.png");*/
    float: left;
    height: 41px;
    margin: 0 5px;
    /*width: 42px;*/
    width: 40px;
    border: 1px dashed #cbcbcb;

    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    border-radius: 9999px;
}
.sel-netw {
    margin: 0 auto;
    max-width: 260px;
    min-height: 30px;
}
.netw-link {
    background: none repeat scroll 0 0 rgba(255,255,255,0.8);
    border: 1px solid #b6b6b6;
    border-radius: 5px;
    /*bottom: 81px;*/
    top: 197px;
    height: 33px;
    left: 20px;
    padding: 5px;
    position: absolute;
    width: 385px;

    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.3);
}
.netw-link:after {
    border-color: #838383 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 0 5px 7px;
    content: "";
    display: block;
    left: 193px;
    position: absolute;
    top: -7px;
    width: 0;
    z-index: 1;
}

/* scroller
-----------------------------------------------*/

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {
    position: absolute;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px
}

.jspVerticalBar *, .jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {
    display: none;
}

.jspHorizontalBar .jspCap {
    float: left;
}

.jspTrack {
    background: #ffffff;
    position: relative
}

.jspDrag {
    background: #dbdbdb;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {
    height: 16px;
}

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {
    outline: none;
}

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

* html .jspCorner {
    margin: 0 -3px 0 0;
}

/* footer
-----------------------------------------------*/

footer {
    background: url("../img/backgrounds/footer.png") no-repeat top center;
    clear: both;
    display: block;
    padding: 18px 0 30px 0;
    overflow: hidden;
    width: 100%
}

footer h6 {
    color: #8b8a8a;
    float: left;
    font-size: 12px;
    line-height: 20px;
    padding: 0
}

footer a {
    color: #8b8a8a;
}

footer ul {
    float: right;
    margin: 0;
    padding: 0
}

footer li {
    color: #8b8a8a;
    float: left;
    font-size: 12px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}

footer .btn-play {
    /*background: url("../img/icons/play-audio.png") repeat-x 0 0;*/
    display: block;
    height: 26px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    top: 0;
    width: 20px;
}

footer .btn-play:hover {
    background-position: -20px 0
}

/* sidebar
-----------------------------------------------*/

#sidebar {
    display: block;
    position: fixed;
    right: 0;
    top: 191px;
    z-index: 99
}

#sidebar ul {
    clear: both;
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 0
}

#sidebar li {
    clear: both;
    display: block;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0 0 6px 0
}

#sidebar a {
    clear: both;
    float: right;
    height: 42px;
    overflow: hidden;
    text-indent: -9999em;
    width: 40px
}

#sidebar .btn-action {
    /*background: url("../img/buttons/action87x42.png") no-repeat 0 0;*/
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 18px;
    line-height: 18px;
    margin: 0;
    padding: 11px 0 13px 0;
    text-indent: 0;
    text-align: center;
    width: 87px
}

#sidebar .btn-search {
    /*background: url("../img/buttons/search40x42.png") no-repeat 0 0*/
}

#sidebar .btn-friends {
    /*background: url("../img/buttons/friends40x42.png") no-repeat 0 -42px*/
}

#sidebar .btn-tools {
    /*background: url("../img/buttons/tools40x42.png") no-repeat 0 -42px*/
}

#sidebar .btn-search:hover, #sidebar .btn-search-active {
    /*background: url("../img/buttons/search40x42.png") no-repeat 0 -42px*/
}

#sidebar .btn-friends:hover, #sidebar .btn-friends-active {
    /*background: url("../img/buttons/friends40x42.png") no-repeat 0 -84px*/
}

#sidebar .btn-tools:hover, #sidebar .btn-tools-active {
    /*background: url("../img/buttons/tools40x42.png") no-repeat 0 -84px*/
}

#sidebar .btn-friends-unactive {
    /*background: url("../img/buttons/friends40x42.png") no-repeat 0 0*/
}

#sidebar .btn-tools-unactive {
    /*background: url("../img/buttons/tools40x42.png") no-repeat 0 0*/
}

.modal-active {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 10px !important;
    width: 320px !important
}

/* validation error for registration form */
form#user_signup_form div
{
    overflow: visible !important;
}

.registerFormError:after
{
    /*content: 'X';
    position: absolute;
    right: 10px;
    top: 11px;*/
}

.appended-error-message
{
    display: none;

    width: 33px;
    height: 33px;
    text-align: center;

    position: absolute;
    right: 5px;
    top: 5px;

    transition: display 0.3s linear;
    -moz-transition: display 0.3s linear;
    -webkit-transition: display 0.3s linear;
    -o-transition: display 0.3s linear;
}

.appended-error-message img
{
    width: 33px;
    height: 33px;
}

.bottom-error
{
    display: none;

    text-align: center;
    width: 100%;
    float: left;
    margin-top: 10px;
    color: #FF6666;

    transition: display 0.3s linear;
    -moz-transition: display 0.3s linear;
    -webkit-transition: display 0.3s linear;
    -o-transition: display 0.3s linear;
}

.bottom-error p
{

}






/* COOKIES POPUP WINDOW */

/* popups -----------------------------------------------*/

.popup-inner {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    display: block;
    /*padding: 15px;*/
    padding: 15px 10px 5px 10px;
    position: relative;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 3px 0 #e5e5e5;
    box-shadow: 0px 0px 3px 0 #e5e5e5;
}

.popup-cookie {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 15px;
    position: absolute;
    top: -5px;
    right: -15%;
    z-index: 999;
    width: 325px;

    /*width: 100%;*/
    /*position: fixed;*/
    /*bottom: 0px;*/
}

.popup-cookie .popup-inner {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center
}

.popup-cookie .btn {
    /*background: #f79320 url("../img/buttons/btn-x10x30.jpg") repeat-x 0 0 !important;*/
    /*border: 1px solid #e2b334 !important;*/
    /*clear: both !important;*/
    /*color: #ffffff !important;*/
    display: block !important;
    font-family: 'HelveticaNeueW82-Regula' !important;
    font-size: 13px !important;
    /*line-height: 20px !important;*/
    margin: 10px auto 0px auto !important;
    /*min-height: 20px !important;*/
    overflow: hidden !important;
    padding: 4px 0 6px 0 !important;
    /*position: relative !important;*/
    /*text-align: center !important;*/
    width: 68px !important;
    /*-webkit-border-radius: 10px !important;*/
    /*border-radius: 10px !important;*/
}

.popup-cookie p {
    /*padding-bottom: 15px  !important;*/
    padding-bottom: 5px !important;
}

.disabled-button
{
    background: #EBEBE4 none !important;
    border: 1px solid #EBEBE4 !important;
}

.disabled-button:hover
{
    color: #ffffff !important;
    cursor: default !important;
    text-decoration: none !important;
}

.hovered-button:hover
{
    color: #FF6666 !important;
    cursor: pointer;
}

#usr_pic_crop
{
    opacity: 0.5;
    width: 284px;
}

#crop_circle
{
    /*background: none;*/
    /*background: rgba(255, 255, 255, 0.5);*/
    /*border: 2px solid #F79320;*/
    border-radius: 50%;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
}

/* user-register-default-url */


/* main box with requests */
#main .panel-box .fld-for-url
{
    background: #ffffff;
    /*background: url("../img/bg/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    clear: none;
    color: #acacac;
    display: block;
    font-family: 'HelveticaNeueW82-Light';
    font-size: 15px;
    height: 22px;
    line-height: 15px;
    padding: 0px 0px 0px 0px;
    /*width: 125px;*/
    width: 150px;
    position: relative;
    float: left;
}

#main .panel-box #user-register-default-url-h4
{
    float: left;
    clear: none;
    padding: 4px 0 30px 0px;
    font-size: 15px;
    line-height: 15px;

    /*color: #ffaa0f;*/
    font-weight: bold;
}

#user-register-default, #user-register-default-url-appended-variants-h3
{
    display: none;
}

#user-register-default-url-appended-variants-h3
{
    float: left;
    margin-bottom: 20px;
}

#user-register-default-url-appended-variants-h3 h4
{
    padding: 0 !important;
}

#user-register-default label
{
    width: 230px;
    float: left;
}

#user-register-default-OR-text
{
    display: none;
}

#user-register-default-OR-text p
{
    font-size: 30px !important;
}
/*#user-register-default input*/
/*{*/
    /*float: left;*/
/*}*/

#user-register-default
{
    margin-bottom: 15px;
}

#regRadio1Label, #regRadio2Label, #regRadio3Label
{
    margin-bottom: 5px !important;
    font-weight: bold;
}

#user-register-default-url-container
{
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    float: left;
    margin-left: -22px;
    margin-bottom: 20px;
    width: 307px;
    height: 70px;

    -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow:    inset 0px 2px 2px 0px rgba(0, 0, 0, .1);
    box-shadow:         inset 0px 2px 2px 0px rgba(0, 0, 0, .1);
}

#user-register-default-url-inner-container
{
    /*background: url("../img/bg/bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    background-color: #f3f3f3;
    /*float: left;*/
    height: 100%;
    width: 100%;

    -webkit-box-shadow: inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow:    inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
    box-shadow:         inset 0px -2px 2px 0px rgba(0, 0, 0, .1);
}

#user-register-default-url-common
{
    border: 1px solid #e5e5e5;
    border-radius: 5px;

    /*width: 235px;*/
    width: 265px;
    height: 40px;
    float: left;

    background-color: #fff;

    box-shadow: inset 0 0 2px 1px #e5e5e5;
    -webkit-box-shadow: inset 0 0 2px 1px #e5e5e5;
    -moz-box-shadow: inset 0 0 2px 1px #e5e5e5;

    -webkit-transition: width 250ms linear;
    -moz-transition: width 250ms linear;
    -ms-transition: width 250ms linear;
    -o-transition: width 250ms linear;
    transition: width 250ms linear;
}

#user-register-default-url-common-inner
{
    width: 100%;
    height: 100%;
    padding: 0 !important;
    margin: 8px 0 0 8px;

}

#user-register-default-url-inner-common-container
{
    /*border: 1px solid blue;*/

    width: 270px;
    height: 40px;
    margin: 2px auto 0 auto;
    padding-top: 13px;
}

#user-register-default-check-ok
{
    /*border: 1px solid black;*/
    display: none;

    float: left;
    width: 16px;
    height: 14px;
    margin: 13px 0 0 15px;
}

#user-register-default-check-ok.unchecked
{
    background: url("../img/controls/tick11x17.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    background-size: 16px 14px;
}


#terms-and-conditions
{
    clear: both;
    display: block;
    overflow: hidden;
    padding: 15px 0 0 0
}

/* networks selection rewrited */
#droppable, #my_intro, #location_input, #city_input,
#name_input, #uname, #pwd, #network_input,
#topBarEmailAccept, #user-activation-password,
.loc_li div.column, #letters-counter
{
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

/*.add-netw*/
/*{*/
    /*-webkit-transition: all 1s ease;*/
    /*-moz-transition: all 1s ease;*/
    /*-o-transition: all 1s ease;*/
    /*transition: all 1s ease;*/
/*}*/

.drag-netw {
    background: none repeat scroll 0 0 #f3f3f3;
    border: 2px solid #cdcdcd;
    border-radius: 7px;
    display: block;
    height: 41px;
    margin: 0 auto 16px;
    width: 340px;
    padding: 3px;
}

.drop-here {
    float: right;
}

.all-selected {
    margin: 0 auto;
    max-width: 310px;
    min-height: 41px;
}

.drop-here
{
    font-size: 7pt;
    position: relative;
    right: 49px;
    bottom: 0px;
}

.drop-here i
{
    font-size: 13px;
}

#user-network-input-outer-container
{
    margin-top: 7px;
    float: left;
    width: 100%;
}

.link-buttons
{
    margin-top: -7px;
    float: right;
}

.link-input
{
    /*width: 230px;*/
    float: left;
    background-color: transparent;
    /*padding-top: 1px;*/
}

.link {
    /*color: #ffaa0f;*/
    font-weight: bold;
    /*height: 30px;*/
    line-height: 20px;
    /*width: 320px;*/
    /*width: 86px;*/
    float: left;
}

.favorites-network-hovered
{
    /*background-color: #ffed7f;*/
    border: 2px dashed #cdcdcd !important;
}

.netw-empty-add
{
    /*background: url("../img/controls/btn-add42x41.png") no-repeat;*/
    background: url("../img/controls/add-network.png") no-repeat;
    float: left;
    height: 41px;
    width: 42px;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
    padding-bottom: 10px;
}

.appended-favorite-network
{
    overflow: visible;
    float: left;
    display: block;
    height: 41px;
    width: 42px;
    margin-left: 6px;
}
.hovered-del-network
{
    border: 1px dashed rgb(255, 0, 0);
    border-radius: 10px;
    margin: -1px 9px 9px 9px !important;
}

.network-icon-draggable
{
    display: block;
    height: 41px;
    margin: 0 10px 10px 10px;
    width: 42px;
}

.network-selection-link {
    /*background: url("../img/buttons/btn-add42x41.png");*/
    /*display: block;*/
    /*float: none !important;*/
    /*font-size: 46px;*/
    /*font-weight: bolder;*/
    /*height: 35px;*/
    /*margin: 0 auto 10px;*/
    /*padding-top: 6px;*/
    /*text-align: center;*/
    /*width: 42px;*/
}

.network-selection-link:hover {
    text-decoration: none;
}

.selected-netw
{
    /*float: left;*/
    height: 41px;
    width: 42px;
    overflow: hidden;
    border-radius: 5px;


    /*background: url("../img/controls/btn-add42x41.png") no-repeat top left;*/
    background: url("../img/controls/add-network.png") no-repeat top left;
    display: block;
    float: none !important;
    font-size: 46px;
    font-weight: bolder;
    /*height: 35px;*/
    margin: 0 auto 10px;
    /*padding-top: 6px;*/
    text-align: center;
    /*width: 42px;*/
}

.selected-networks > h4
{
    margin-left: 70px;
}

.selected-netw img
{
    float: left;
    width: 42px;
    overflow: hidden;
}

.selected-networks img
{
    float: left;
    width: 42px;
    overflow: hidden;
}

/* ABOUT ME - edit-profile___________________.htm */
/*#user-register-default-check-intro-ok, #user-register-default-check-image-ok, #user-register-default-check-location-ok, #user-register-default-check-color-ok*/


.profile-details div.check-tick
{
    /*background: url( '../img/tick22x17.png' ) no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    float: right;
    width: 16px;
    height: 14px;
    display: block;

    margin-top: 22px;
}

.profile-details div.empty
{
    background: transparent url('../img/controls/tick11x17.png') no-repeat left top;
    background-size: cover;
}

/*.profile-details div.check-tick i*/
/*{*/
    /*color: #d3d3d3;*/
    /*font-size: 18px;*/
/*}*/


/* SHARE BUTTONS - FB, TWITTER */
.fb-share-button, .btn-twitter
{
    float: left !important;
}

/* INVITE */
.member-cancel
{
    /*font-size: 11px;*/
    color: #acacac !important;
}

.already-member-text *
{
    /*float: left;*/
}

/* PASSWORD RECOVERY */
.password-recovery
{
    display: none;
}

#edit-networks-button
{
    float: left;
    /*margin: auto;*/
    width: 100%;
    margin-top: 20px;
}

#edit-networks-button-inner-container
{
    width: 74px;
    margin: auto;
}

#edit-networks-button a
{
    /*color: #ffaa0f;*/
    text-decoration: none;
}



/* PHOTO UPLOAD REWRITE */
#upload-box
{
    display: none;
    position: absolute;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    border: 10px dashed rgba(255, 255, 255, 0.7);

    text-align: center;
}

#upload-box p
{
    text-align: center;
    font-size: 70px;
    padding-top: 100px;
    color: rgba(255, 255, 255, 0.7);
}

/* TOPBAR STYLES */
#username_current
{
    text-transform: capitalize;
}

/* userprofile page styling */
#other_intro_add
{
    width: 246px;
    margin: auto;
    text-align: left;
    word-wrap: break-word;
    /*word-break: break-all;*/
}

.social-favo-inner
{
    margin: auto;
}

.social-networks-inner
{
    margin: auto;
    /*width: 50px;*/
}

#edit-networks-button
{
    display: none;
}

/* SHARED CONNECTIONS AND SEARCH */

.add-del-to-connections p
{
    color: #cccccc !important;
    font-size: 10px !important;
    font-weight: bold;
}

.add-del-to-connections p:hover:before
{
    content: "Activate your account to be able to add your contacts";
    border: 1px solid red;
    color: red;
    opacity: 0.7;
    position: absolute;
    top: 20px;
    left: -55px;
    text-align: center;
    z-index: 1000;
    background: #ffffff;
    border-radius: 3px;
    padding: 5px;
    font-size: 11px;
    width: 200px;
    height: 40px;
}

.add-del-to-connections
{
    display: none;
    /*float: left;*/
    /*width: 100%;*/
    height: 15px;
    position: absolute;
    right: 240px;
    top: 125px;
    /*border: 1px solid red;*/
}

.add-del-to-connections img, .add-del-to-connections i
{
    /*border: 1px solid red;*/
    margin-right: 5px;
}

.add-del-to-connections i
{
    font-size: 10px;
}

.add-del-to-connections a
{
    color: #8a8a8a;
    text-decoration: none;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
}

.add-del-to-connections a:hover
{
    /*color: #ffaa0f;*/
}

.sc-link-zero-connections:hover
{
    text-decoration: none;
    cursor: default;
}

.sc-link-NOzero-connections:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.quantity
{
    float: left;
    margin: 10px 0 -10px 0;
    font-weight: bold;
    /*color: #ffaa0f;*/
}




.pagi
{
    margin-top: 10px;
}

.pagination {
    clear: both;
    display: block;
    overflow: hidden;
    padding: 17px 0 0 0;
    position: relative
}

/*#main .find-someone .pagination .quantity {*/
/*color: #666666;*/
/*display: block;*/
/*font-size: 13px;*/
/*line-height: 20px;*/
/*padding: 17px 0 0 0;*/
/*position: absolute;*/
/*right: 0;*/
/*top: 0;*/
/*z-index: 99*/
/*}*/

ul.pagination  {
    clear: both;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
    /*width: 200px;*/
    width: 185px;
    /*width: auto;*/
}

.pagination .first
{
    float: left;
    margin-right: 2px;
}

.pagination .last
{
    float: left;
}

.pagination li {
    float: left;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20px;
}

.pagination a {
    clear: both;
    color: #666666;
    display: block;
}

.pagination a:hover, .pagination .active {
    /*color: #febc5a;*/
    font-weight: bold;
    text-decoration: none
}


.pagination .prev, .pagination .next {
    /*background: url("../img/arrows-pagination10x11.jpg") no-repeat 0 0;*/
    float: left;
    height: 15px;
    margin: 5px 0 0 10px;
    overflow: hidden;
    /*text-indent: -9999em;*/
    width: 10px;
}

.pagination .prev a, .pagination .next a
{
    display: inline-block;
    font :normal normal normal 14px/1 FontAwesome !important;
    /*font-size: inherit;*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.pagination .prev a:before, .pagination .next a:before
{
    font-size: 18px;
    font-weight: bold;

    position: relative;
    top: -2px;

    margin-right: 3px;
}

.pagination .prev a:before
{
    content:"\f104";
}

.pagination .next a:before
{
    content:"\f105";
}

.pagination .next {
    background-position: -11px 0;
    float: left;
    margin-left: 0;
    margin-right: 5px
}




.users-found
{
    /*color: #ffaa0f;*/
    font-weight: bold;
}

.vip
{
    /*background: url( '../img/icons/star11x11.png' ) no-repeat 0 0;*/
    position: absolute;
    width: 12px;
    height: 12px;
    /*top: 10px;*/
    top: 5px;
    /*left: 85px;*/
    left: 5px;
    cursor: pointer;
}

.input-clear-button
{
    display: none;
    background: url( '../img/controls/input_clear.gif' ) no-repeat 2px 2px;
    /*border: 1px solid red;*/
    /*float: left;*/
    width: 15px;
    height: 15px;
    position: absolute;
    left: 170px;
    top: 93px;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha" (Opacity=50);
}


/* GOOGLE LOCATIONS */
.pac-container
{
    font-family: Roboto;
    position: fixed;
    display: inline-block;
    z-index: 1500;
}

/** SITEMAP */
#sitemap-container-ul
{
    padding-left: 10px;
}

#sitemap-terminator-line
{
    background: url( '../img/backgrounds/sep2x2.jpg' ) repeat-x bottom left;
    height: 3px;
    width: 20%;
    float: left;
    margin-top: 7px;
}


/** TOP ACTIVATION BAR */
#topBarEmailAccept
{
    float: left;
    width: 100%;
    /*height: 55px;*/
    height: 67px;
    background: #ffffff;
    margin-top: -5px;
}

#topBarEmailAccept p
{
    color: red;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

/** NETWORKS LOADING */
.overflowedLink
{
    float: left;
    height: 41px;
    width: 42px;
    border-radius: 5px;
    text-indent: -9999em;
    overflow: hidden;
}

.overflowedLink img
{
    float: left;
    width: 42px;
    overflow: hidden;
}


#password-recovery-send
{
    clear: none !important;
    float: left !important;
    width: 48% !important;
}

#password-recovery-cancel
{
    clear: none !important;
    float: right !important;
    width: 49% !important;
}

.resend-activation-link
{
    font-size: 15px !important;
    padding: 6px 10px 9px 10px !important;
    display: inline !important;
}

/**
 * LOADING WRAPPER
 */
@-webkit-keyframes rotate {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

#loading-wrapper
{
    display: block;
    position: absolute;
    z-index: 5000;
    /*background-color: rgba(255, 255, 255, 1.0);*/
    background-color: #f3f3f3;
    width: 100%;
    height: 250%;

    text-align: center;
}

#loading-wrapper .inner
{
    position: absolute;
    top: 15%;
    left: 50%;

    margin: -40px 0 0 -40px;

    width: 100px;
    height: 100px;
}

#loading-wrapper .inner .spinner
{
    /*text-align: center;*/
    /*font-size: 70px;*/
    /*padding-top: 100px;*/
    /*opacity: 0.7;*/
    /*color: rgba(0, 0, 0, 0.7);*/

    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 100px;*/
    /*margin-left: -150px;*/

    /*border-top: 10px solid #8DBD42;*/
    /*border-right: 10px solid #D15831;*/
    /*border-bottom: 10px solid #6EB9CC;*/
    /*border-left: 10px solid #F4E786;*/

    width: 60px;
    height: 60px;

    background-color: transparent;

    border-radius: 200px;

    border-top: 8px solid #d20000;
    border-right: 8px solid #6b008e;
    border-bottom: 8px solid #048727;
    border-left: 8px solid #f58c1f;

    -webkit-animation: rotate 1200ms infinite linear;
    animation: rotate 1200ms infinite linear;
}

#loading-wrapper .inner p
{
    text-align: center;
    font-size: 15px;
    opacity: 0.7;
    color: rgba(0, 0, 0, 0.7);

    position: absolute;
    right: 0;
    bottom: -19px;
}

.loading-squares-button
{
    background: #EBEBE4 none !important;
    border: 1px solid #EBEBE4 !important;
}

.loading-squares-button:hover
{
    color: #ffffff !important;
    cursor: default !important;
    text-decoration: none !important;
}


.edit-modal .personal-statement .animated-loading
{

}

#time-spinner
{
    display: none;
    position: absolute;
    top: 210px;
    left: 220px;
    /*border: 1px solid red;*/
}

#time-spinner img
{
    /*border: 1px solid green;*/
}

#time-spinner-sign-in
{
    display: none;

    position: relative;
    top: 12px;
    left: 20px;

    height: 43px;
    padding-bottom: 9px;
}

#time-spinner-sign-in img
{

}

.animated-loading
{
    display: none;

    width: 16px;
    height: 16px;

    position: absolute;
    left: 50%;
    margin-left: -8px;
}

.animated-loading.search
{
    top: 210px;
}

.animated-loading.sign-in
{
    position: relative !important;
    height: 20px !important;
    top: 7px;
    padding-bottom: 9px;
}

.animated-loading.contactus
{
    bottom: 2px;
}

.animated-loading.colors
{
    top: 22px;
}

.animated-loading.sign-up
{
    bottom: 2px;
}



/**
 *
 */
.hided-elem
{
    display: none !important;
}

/**
 * Contact Us
 */
#main .contact-us
{
    /*width: 442px;*/
    width: 488px;

    position: relative;
    margin: 0px auto;

    padding-top: 70px;
}

#main .contact-us .panel-box.contact-box .fld
{
    /*width: 374px;*/
    width: 420px;
}

#main .contact-us .panel-box.contact-box textarea.fld
{
    height: auto;
    line-height: 20px;
}

#main .contact-us .panel-box.contact-box .btn
{
    /*width: 395px;*/
    width: 442px;
    cursor: pointer;
}

table#recaptcha_table
{
    margin: auto;
}