#header .top-profile a, #main .panel-box .forgot a, #main .panel-box h3, #main .panel-box .check-tick a, #main .social-panel-box a,
#main .bottom-link a, #main .find-box .txt-orange, #main .find-box .txt-orange a, #main .search-result .result-item .txt .heading a,
#main .profile-box h4, #main .profile-box h4 a, #main .profile .social .netw-selected, #main .txt-tuts a, #main .txt-link a,
.add-to-netw span, .network-selection h3, .edit-modal .add-network h5, .edit-modal .add-network .link-show, .edit-modal .txt-network,
.edit-modal .txt-network a, .edit-modal .location-details .results h6, .edit-modal .location-details .results h6 a,
.ui-dialog .ui-dialog-titlebar .ui-dialog-title, .ui-dialog h2, #main .panel-box #user-register-default-url-h4, .link, #edit-networks-button a,
.add-del-to-connections a:hover, .quantity, .resend-activation-link, .pagination .prev a, .pagination .next a, .add-del-to-connections i,
.drop-here i, #main .profile .star-vip, .pagination a:hover, .pagination .active, .share-yellow a
{
    color: #f58c1f;
}

#crop_circle
{
    border: 2px solid #f58c1f;
    background: rgba(245, 140, 31, 0.2);
}

#header .btn,
#main .btn,
.ui-dialog .btn,
.resend-area .btn,
.edit-modal .browse-photo .btn,
.edit-modal .browse-photo .btn_browse
{
    background: #faac18; /* Old browsers */
    background: -moz-linear-gradient(top,  #faac18 0%, #f58c1f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faac18), color-stop(100%,#f58c1f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #faac18 0%,#f58c1f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #faac18 0%,#f58c1f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #faac18 0%,#f58c1f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #faac18 0%,#f58c1f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faac18', endColorstr='#f58c1f',GradientType=0 ); /* IE6-9 */

}

#header .top-search .btn,
#main .address-box .btn-search,
#main .find-box .btn-search,
.network-selection .top-bar #search_ncc,
.network-selection .top-bar #search_netw,
.edit-modal .add-network .btn-search
{
    background: url("icons/icon-search-orange@2x.png") no-repeat 0px 0px;
}

section .header .logo
{
    background: url("logos/htf-logo-orange.png") no-repeat 0 0;
}

#main .panel-box .check-tick .jqTransformCheckbox
{
    background: url("controls/checkbox24x24-orange.jpg") no-repeat 0 0;
}

#main .panel-box .check-radio .jqTransformRadio
{
    background: url("controls/radio23x23-orange.jpg") no-repeat 0 0;
}

#main .search-result .star-vip,
#main .profile .star-vip
{
    background: url("icons/vip-orange.png") no-repeat 0 0;
}

#main .search-result .result-item .txt .share-yellow
{
    background: url("icons/share9x12-orange.png") no-repeat 0 center;
}

#main .edit-profile .btn-networks
{
    background: url("buttons/btn-networks214x50-orange.png") no-repeat 0 0;
}

#main .edit-profile .btn-about
{
    background: url("buttons/btn-about214x50-orange.png") no-repeat 0 0;
}

.set_loc + label
{
    background: url("controls/house19x22-orange.png") no-repeat 0 0;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon
{
    background: url("icons/icon-close-orange.png") no-repeat 0 0 !important;
}

footer .btn-play
{
    background: url("icons/play-audio-orange.png") repeat-x 0 0;
}

.profile-details div.check-tick.checked
{
    background: transparent url('icons/icon-tick-orange@2x.png') no-repeat left top;
}

#user-register-default-check-ok.checked
{
    background: url("icons/icon-tick-orange@2x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.animated-loading
{
    background: transparent url('controls/ajax-loader-orange.gif') no-repeat center center;
}



/*#main .edit-profile .link-drag {*/
/*background: url("../../img/arrow-drag-up.png") no-repeat 0 center;*/
/*}*/

/*.edit-modal .btn-grey {*/
/*background: #f58c1f url("../../img/buttons/btn-x10x41grey.jpg") repeat-x 0 0;*/
/*}*/

/*#main .btn-grey {*/
/*background: #f58c1f url("../../img/buttons/btn-x10x41grey.jpg") repeat-x 0 0;*/
/*}*/

/*#main .panel-box .bg-dark {*/
/*background: #f58c1f url("../../img/bg/bg5x91.jpg") repeat-x 0 0;*/
/*}*/

/*.edit-modal .search-result .link-add {*/
/*background: url("../../img/plus9x8.png") no-repeat 0 center;*/
/*}*/

/*#main .profile .btn-find {*/
/*background: url("../../img/icons/cross9x8.png") no-repeat 0 center;*/
/*}*/

/*#main .profile .btn-find {*/
/*background: url("../../img/icons/cross9x8.png") no-repeat 0 center;*/
/*}*/

/*#main .edit-profile .slide-next {*/
/*background: url("../../img/arrow-next18x21.png") no-repeat 0 0;*/
/*}*/

/*#main .edit-profile .slide-prev {*/
/*background: url("../../img/arrow-prev18x21.png") no-repeat 0 0;*/
/*}*/

/*.edit-modal .location-details .jqTransformRadio {*/
    /*background: url("../../img/icons/house19x22.png") no-repeat 0 0;*/
/*}*/

/*.edit-modal .location-details .jqTransformRadio.jqTransformChecked {*/
/*background: url("../../img/icons/house19x22.png") no-repeat 0 -22px;*/
/*}*/

/*#sidebar .btn-search {*/
    /*background: url("../../img/buttons/search40x42.png") no-repeat 0 0*/
/*}*/

/*#sidebar .btn-friends {*/
    /*background: url("../../img/buttons/friends40x42.png") no-repeat 0 -42px*/
/*}*/

/*#sidebar .btn-tools {*/
    /*background: url("../../img/buttons/tools40x42.png") no-repeat 0 -42px*/
/*}*/

/*#sidebar .btn-search:hover, #sidebar .btn-search-active {*/
    /*background: url("../../img/buttons/search40x42.png") no-repeat 0 -42px*/
/*}*/

/*#sidebar .btn-friends:hover, #sidebar .btn-friends-active {*/
    /*background: url("../../img/buttons/friends40x42.png") no-repeat 0 -84px*/
/*}*/

/*#sidebar .btn-tools:hover, #sidebar .btn-tools-active {*/
    /*background: url("../../img/buttons/tools40x42.png") no-repeat 0 -84px*/
/*}*/

/*#sidebar .btn-friends-unactive {*/
    /*background: url("../../img/buttons/friends40x42.png") no-repeat 0 0*/
/*}*/

/*#sidebar .btn-tools-unactive {*/
    /*background: url("../../img/buttons/tools40x42.png") no-repeat 0 0*/
/*}*/

/*.popup-cookie .btn {*/
    /*background: #f58c1f url("../../img/buttons/btn-x10x30.jpg") repeat-x 0 0 !important;*/
    /*border: 1px solid #e2b334 !important;*/
/*}*/

/*#user-register-default-check-intro-ok, #user-register-default-check-image-ok, #user-register-default-check-location-ok, #user-register-default-check-color-ok*/
/*{*/
/*background: url( '../../img/themes/orange/icons/icon-tick-orange.png' ) no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
/*}*/