@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {

    #header .top-profile a, #main .panel-box .forgot a, #main .panel-box h3, #main .panel-box .check-tick a, #main .social-panel-box a,
    #main .bottom-link a, #main .find-box .txt-orange, #main .find-box .txt-orange a, #main .search-result .result-item .txt .heading a,
    #main .profile-box h4, #main .profile-box h4 a, #main .profile .social .netw-selected, #main .txt-tuts a, #main .txt-link a,
    .add-to-netw span, .network-selection h3, .edit-modal .add-network h5, .edit-modal .add-network .link-show, .edit-modal .txt-network,
    .edit-modal .txt-network a, .edit-modal .location-details .results h6, .edit-modal .location-details .results h6 a,
    .ui-dialog .ui-dialog-titlebar .ui-dialog-title, .ui-dialog h2, #main .panel-box #user-register-default-url-h4, .link, #edit-networks-button a,
    .add-del-to-connections a:hover, .quantity, .resend-activation-link
    {
        color: #f58c1f;
    }

    #header .top-search .btn {
        background: url("../../img/themes/orange/icons/zoom2x28x27.png") no-repeat 0px -22px;
    }

    section .header .logo {
        background: url("../../img/themes/orange/logo/htf-logo-orange.png") no-repeat 0 0;
    }

    #main .btn, .ui-dialog .btn, .resend-area .btn {
        background: #f58c1f url("../../img/buttons/btn-x10x41.jpg") repeat-x 0 0;
        border: 1px solid #e2b334;
    }

    #main .btn-grey {
        background: #f58c1f url("../../img/buttons/btn-x10x41grey.jpg") repeat-x 0 0;
    }

    #main .panel-box .check-tick .jqTransformCheckbox {
        background: url("../../img/checkbox24x24.jpg") no-repeat 0 0;
    }

    #main .panel-box .check-tick .jqTransformChecked {
        background: url("../../img/checkbox24x24.jpg") no-repeat 0 -24px
    }

    #main .panel-box .check-radio .jqTransformRadio {
        background: url("../../img/radio23x23.jpg") no-repeat 0 0;
    }

    #main .panel-box .check-radio .jqTransformChecked {
        background: url("../../img/radio23x23.jpg") no-repeat 0 -23px
    }

    #main .panel-box .bg-dark {
        background: #f58c1f url("../../img/bg/bg5x91.jpg") repeat-x 0 0;
    }

    #main .find-box .btn-search {
        background: url("../../img/icons/search33x33.png") no-repeat 0 0;
    }

    #main .address-box .btn-search {
        background: url("../../img/icons/search33x33.png") no-repeat 0 0;
    }

    #main .search-result .star-vip {
        background: url("../../img/icons/star11x11.png") no-repeat 0 0;
    }

    .share-yellow a
    {
        color: #ffb749;
    }

    #main .profile .star-vip {
        background: url("../../img/icons/star18x18.png") no-repeat 0 0;
    }

    #main .profile .btn-find {
        background: url("../../img/icons/cross9x8.png") no-repeat 0 center;
    }

    #main .profile .btn-find {
        background: url("../../img/icons/cross9x8.png") no-repeat 0 center;
    }

    #main .edit-profile .slide-next {
        background: url("../../img/arrow-next18x21.png") no-repeat 0 0;
    }

    #main .edit-profile .slide-prev {
        background: url("../../img/arrow-prev18x21.png") no-repeat 0 0;
    }

    #main .edit-profile .btn-networks {
        background: url("../../img/buttons/btn-network214x50.png") no-repeat 0 0;
    }

    #main .edit-profile .btn-about {
        background: url("../../img/buttons/btn-about214x50.png") no-repeat 0 0;
    }

    #main .edit-profile .link-drag {
        background: url("../../img/arrow-drag-up.png") no-repeat 0 center;
    }

    .network-selection .top-bar #search_ncc {
        background: url("../../img/icons/search33x33.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .network-selection .top-bar #search_netw{
        background: url("../../img/icons/search33x33.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    }

    .edit-modal .btn-grey {
        background: #f58c1f url("../../img/buttons/btn-x10x41grey.jpg") repeat-x 0 0;
    }

    .edit-modal .add-network .btn-search {
        background: url("../../img/icons/search33x33-2.png") no-repeat 0 0;
    }

    .edit-modal .search-result .link-add {
        background: url("../../img/plus9x8.png") no-repeat 0 center;
    }

    .edit-modal .location-details .jqTransformRadio {
        background: url("../../img/icons/house19x22.png") no-repeat 0 0;
    }

    .set_loc + label {
        background: url("../../img/icons/house19x22.png") no-repeat 0 0;
    }

    .set_loc:checked + label {
        background: url("../../img/icons/house19x22.png") no-repeat 0 -22px;
    }

    .edit-modal .location-details .jqTransformRadio.jqTransformChecked {
        background: url("../../img/icons/house19x22.png") no-repeat 0 -22px;
    }

    .ui-dialog .ui-dialog-titlebar-close .ui-icon {
        background: url("../../img/icons/close18x18.jpg") no-repeat 0 0 !important;
    }

    .edit-modal .browse-photo .btn {
        border: 1px solid #e2b334;
    }

    footer .btn-play {
        background: url("../../img/icons/play-audio.png") repeat-x 0 0;
    }

    footer .btn-play {
        background: url("../../img/icons/play-audio.png") repeat-x 0 0;
    }

    #sidebar .btn-search {
        background: url("../../img/buttons/search40x42.png") no-repeat 0 0
    }

    #sidebar .btn-friends {
        background: url("../../img/buttons/friends40x42.png") no-repeat 0 -42px
    }

    #sidebar .btn-tools {
        background: url("../../img/buttons/tools40x42.png") no-repeat 0 -42px
    }

    #sidebar .btn-search:hover, #sidebar .btn-search-active {
        background: url("../../img/buttons/search40x42.png") no-repeat 0 -42px
    }

    #sidebar .btn-friends:hover, #sidebar .btn-friends-active {
        background: url("../../img/buttons/friends40x42.png") no-repeat 0 -84px
    }

    #sidebar .btn-tools:hover, #sidebar .btn-tools-active {
        background: url("../../img/buttons/tools40x42.png") no-repeat 0 -84px
    }

    #sidebar .btn-friends-unactive {
        background: url("../../img/buttons/friends40x42.png") no-repeat 0 0
    }

    #sidebar .btn-tools-unactive {
        background: url("../../img/buttons/tools40x42.png") no-repeat 0 0
    }

    .popup-cookie .btn {
        background: #f58c1f url("../../img/buttons/btn-x10x30.jpg") repeat-x 0 0 !important;
        border: 1px solid #e2b334 !important;
    }

    #crop_circle
    {
        border: 2px solid #f58c1f;
    }

    .pagination a:hover, .pagination .active {
        color: #febc5a;
    }

    .pagination .prev, .pagination .next {
        background: url("../../img/arrows-pagination10x11.jpg") no-repeat 0 0;
    }

    .pagination .prev, .pagination .next {
        background: url("../../img/arrows-pagination10x11.jpg") no-repeat 0 0;
    }

}